.shopcart-item {
	padding:10px;
	display:block;
}
.shopcart-img {
	display:inline;
	float:left;
}
.shopcart-info {
	margin-left:60px;
}
.shopcart-title {
	font-weight:600;
	display:block;
	margin-bottom:2px;
}

.list-search {
	margin-bottom:10px;
}

.table-label {
	margin-right:2px;
}

.number-picker {
	display:inline;
	width:84px;
}

.number-picker > .number-plus {
	border-width:1px;
	border-color:rgb(210,214,222);
	border-style:solid;
	padding:2px 4px 2px 4px;
	width:33%;
	height:20px;
	margin:0px;
	border-collpase:collapse;
}

.number-picker > .number-minus {
	border-width:1px;
	border-color:rgb(210,214,222);
	border-style:solid;
	padding:2px 4px 2px 4px;
	width:33%;
	height:20px;
	margin:0px;
	border-collpase:collapse;
}

.number-picker > .number {
	border-width:1px;
	border-color:rgb(210,214,222);
	border-style:solid;
	padding:2px 4px 2px 4px;
	width:33%;
	height:20px;
	margin:0px;
	border-collpase:collapse;
}

.product-info > a > .label {
	background-color:#00c0ef !important
}
