.singleProductInfo {
	
}

.groupProductInfo {
	
}

.box-body .form-control-panel {
	overflow:auto;
	display:block;
	margin-bottom:5px;
}

.search-result {
	margin:15px 0px;
}

.search-result .product-check {
	float:left;
	margin-right:5px;
}

.search-result .product-info {
	margin-left:75px;
}