<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="header::cssfragment">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header th:replace="header::mainheader(${notifications}, ${tasks}, ${carets}, ${userWrapper.getUser()})" class="main-header">
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
  </aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        权限设置
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">权限设置</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row" th:each="role : ${roles}">
    		<div class="box box-info">
    			<div class="box-body">
    				<form method="post" action="/admin_privilege">
    					<fieldset>
    						<legend>角色信息</legend>
    						<div class="form-group">
    							<label>Id</label>
    							<input type="text" name="name" class="form-control" th:value="${role.name}" placeholder="角色Id">
    						</div>
    						<div class="form-group">
    							<label>名称</label>
    							<input type="text" name="nickName" class="form-control" th:value="${role.nickName}" placeholder="角色名称">
    						</div>
    						<div class="form-group">
    							<label>描述</label>
    							<input type="text" name="description" class="form-control" th:value="${role.description}" placeholder="角色描述">
    						</div>
    					</fieldset>
    					<fieldset>
    						<legend>功能权限</legend>
    						<div th:each="privilege : ${role.privileges}">
    							<label th:text="${privilege.resourceId}">permission</label>
	    						<div style="margin-left:20px">
	    							<table class="table table-bordered">
	    								<tr>
	    									<td style="width:30px"><label><input type="checkbox"></label></td>
	    									<td>描述</td>
	    									<td>操作</td>
	    								</tr>
	    								<tr th:each="operation : ${privilege.operations}">
	    									<td><label><input th:name="${operation.key}" th:value="${operation.value}" type="checkbox"></label></td>
	    									<td th:text="${operation.value}">查看权限</td>
	    									<td th:text="${operation.key}">read</td>
	    								</tr>
	      							</table>
	    						</div>
    						</div>
    					</fieldset>
    					<fieldset>
    						<legend>字段权限</legend>
    						<div th:each="columnPrivilege : ${#vars.fields}">
    							<label th:text="${columnPrivilege.key}">permission</label>
    							<table class="table table-bordered">
    								<tr>
    									<td></td>
    									<td>字段名</td>
    									<td><label><input type="checkbox" value=""> 可显示</label></td>
    									<td><label><input type="checkbox" value=""> 可更新</label></td>
    									<td><label><input type="checkbox" value=""> 可编辑</label></td>
    								</tr>
    								<tr th:each="dataResource: ${columnPrivilege.value}">
    									<td th:text="${dataResource.dataCode}">id1</td>
    									<td th:text="${dataResource.dataName}">id1</td>
    									<td>
    										<label>
    											<input type="checkbox" th:if="${dataResource.isAccessible() == true}" checked>
    											<input type="checkbox" th:unless="${dataResource.isAccessible() == true}">
    										</label>
    									</td>
    									<td>
    										<label>
    											<input type="checkbox" th:if="${dataResource.isUpdateable() == true}" checked>
    											<input type="checkbox" th:unless="${dataResource.isUpdateable() == true}">
    										</label>
    									</td>
    									<td>
    										<label>
    											<input type="checkbox" th:if="${dataResource.isEditable() == true}" checked>
    											<input type="checkbox" th:unless="${dataResource.isEditable() == true}">
    										</label>
    									</td>
    								</tr>
    							</table>
    						</div>
    					</fieldset>
    				</form>
    			</div>
    			<div class="box-footer">
    				<button class="btn btn-flat btn-success left-float">提交</button>
    			</div>
    		</div>
    	</div>
    </section>
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="footer::footer">
  </footer>


</div>
<!-- ./wrapper -->

<div th:include="header::jsfragment"></div>
</body>
</html>
