<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="header::cssfragment">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header th:replace="header::mainheader(${notifications}, ${tasks}, ${carets}, ${userWrapper.getUser()})" class="main-header">
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="header::mainsider(${userWrapper})" class="main-sidebar">
  </aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        新建售后订单
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li>售后服务</li>
        <li class="active">新建售后订单</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<p style="color:red;" id="errormsg" th:text="(${error} != null) ? ${error} : ''"></p>
    	</div>
      	<div class="row">
      		<div class="box box-info">
      			<div class="box-header">
      				<h3 class="box-title">原订单</h3>
      			</div>
      			<div class="box-body">
      				<div class="input-group" style="margin-bottom:10px;">
      					<input type="text" class="form-control" id="searchkey"  placeholder="客户姓名、电话或订单号">
      					<span class="input-group-btn"><button id="order_search" type="button" class="btn btn-success btn-flat"><span class="fa fa-search"></span></button></span>
      				</div>
      				<div style="position:absolute;">
						<ul id="order_list" class="list-group" style="display:none;"></ul>
					</div>
      				<table id="order" class="table table-striped table-bordered">
      					<tbody>
      						<tr>
      							<td>订单号</td>
      							<td><a></a></td>
      						</tr>
      						<tr>
      							<td>客户姓名</td>
      							<td></td>
      						</tr>
      						<tr>
      							<td>客户电话</td>
      							<td></td>
      						</tr>
      						<tr>
      							<td>客户地址</td>
      							<td></td>
      						</tr>
      					</tbody>
      				</table>
      			</div>
      		</div>
      	</div>
      	
      	<div class="row">
      		<div class="box box-warning">
      			<div class="box-header">
      				<h3 class="box-title">客户诉情</h3>
      			</div>
      			<form>
	      			<div class="box-body">
	      				<div class="form-group">
	      					<label>客户姓名</label>
	      					<input type="text" class="form-control">
	      				</div>
	      				<div class="form-group">
	      					<label>客户电话</label>
	      					<input type="number" class="form-control">
	      				</div>
	      				<div class="form-group">
	      					<label>诉情</label>
	      					<textarea rows="3" class="form-control"></textarea>
	      				</div>
	      			</div>
      			</form>
      		</div>
      	</div>
      	
      	<div class="row">
      		<div class="box box-warning">
      			<div class="box-header">
      				<h3 class="box-title">售后服务人员</h3>
      			</div>
      			<div class="box-body">
      				<div class="form-group">
      					<label>售后服务人员</label>
      					<div class="input-group">
      						<input type="text" class="form-control" placeholder="服务人员姓名、电话">
      						<span class="input-group-btn"><button id="search_server" type="button" class="btn btn-flat btn-success"><span class="fa fa-search"></span></button></span>
      					</div>
      				</div>
      				<div class="form-group">
      					<table id="server" class="table table-striped table-bordered">
      						<tbody>
	      						<tr>
	      							<td>姓名</td>
	      							<td>欧阳锋</td>
	      						</tr>
	      						<tr>
	      							<td>电话</td>
	      							<td>1999999999</td>
	      						</tr>
	      					</tbody>
	      				</table>
      				</div>
      				<div class="checkbox">
      					<label><input type="checkbox" value="">发送短信通知</label>
      				</div>
      			</div>
      			<div class="box-footer">
      				<button type="button" class="btn btn-success btn-flat pull-right">提交</button>
      			</div>
      		</div>
      	</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="footer::footer">
  </footer>

</div>
<!-- ./wrapper -->

<div th:include="header::jsfragment"></div>
<script type="text/javascript">
	$(function(){
		function create_item() {
			
		}
		
		$("#order_search").on("click", function () {
			$("#errormsg").text('');
			var content = $("#searchkey").val();
			if (content == null || content.length == 0) {
				$("#errormsg").text("请先输入客户姓名、电话或订单号后再搜索");
				return;
			}
			
			$.get("/order/search/" + content, {},
				function (data) {
					if (data.returnState == "OK") {
						var orders = data.returnData.orders;
						for (var i = 0; i < orders.length; i++) {
							var order = orders[i];
							
						}
						
						$("#select_product [name='product_list']").empty();
						var products = data.returnData.products;
						for (var i = 0; i < products.length; i++) {
							var item = create_editable_product_item(products[i]);
							item.find("[name='deletebtn']").hide();
							$("#select_product [name='product_list']").append(item);
						}
					} else {
						$("#errormsgsub").text(data.returnMsg);
					}
				}		
			);
		});
	});
</script>
</body>
</html>
