<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="header::cssfragment">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header th:replace="header::mainheader(${notifications}, ${tasks}, ${carets}, ${userWrapper.getUser()})" class="main-header">
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="header::mainsider(${userWrapper})" class="main-sidebar">
  </aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        日程
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">日程</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<p id="errormsg" style="color:red;" th:text="(${error} != null) ? ${error} : ''"></p>
    	</div>
      	<div class="row">
      		<div class="box box-warning">
      			<div class="box-header with-border">
      				<h3 class="box-title">创建事件</h3>
      			</div>
      			<div class="box-body">
      				<div class="btn-group" style="width: 100%; margin-bottom: 10px;">
		                <!--<button type="button" id="color-chooser-btn" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown">Color <span class="caret"></span></button>-->
		                <ul class="fc-color-picker" id="color-chooser">
		                  <li><a class="text-aqua" href="#"><i class="fa fa-square"></i></a></li>
		                  <li><a class="text-blue" href="#"><i class="fa fa-square"></i></a></li>
		                  <li><a class="text-light-blue" href="#"><i class="fa fa-square"></i></a></li>
		                  <li><a class="text-teal" href="#"><i class="fa fa-square"></i></a></li>
		                  <li><a class="text-yellow" href="#"><i class="fa fa-square"></i></a></li>
		                  <li><a class="text-orange" href="#"><i class="fa fa-square"></i></a></li>
		                  <li><a class="text-green" href="#"><i class="fa fa-square"></i></a></li>
		                  <li><a class="text-lime" href="#"><i class="fa fa-square"></i></a></li>
		                  <li><a class="text-red" href="#"><i class="fa fa-square"></i></a></li>
		                  <li><a class="text-purple" href="#"><i class="fa fa-square"></i></a></li>
		                  <li><a class="text-fuchsia" href="#"><i class="fa fa-square"></i></a></li>
		                  <li><a class="text-muted" href="#"><i class="fa fa-square"></i></a></li>
		                  <li><a class="text-navy" href="#"><i class="fa fa-square"></i></a></li>
		                </ul>
              		</div>
              		<form>
              			<div class="form-group">
              				<label>标题</label>
              				<input id="eventTitle" type="text" class="form-control" placeholder="标题">
              			</div>
              			<div class="form-group">
              				<label>起始时间</label>
              				<input id="startTime" class="form-control" type="datetime-local" placeholder="">
              			</div>
              			<div class="form-group">
              				<label>结束时间</label>
              				<input id="endTime" class="form-control" type="datetime-local" placeholder="">
              			</div>
              			<div class="form-group">
              				<label>参与人</label>
							<div class="input-group" style="margin-bottom:10px;">
								<input type="text" name="searchkey" placeholder="用户姓名或电话" class="form-control">
								<span class="input-group-btn">
									<button type="button" id="searchuser" class="btn btn-success btn-flat"><span class="fa fa-search"></span></button>
								</span>
							</div>
							<div style="position:absolute;">
									<ul id="user_result" class="list-group" style="display:none;"></ul>
							</div>
							<div id="userlist">
							</div>
              			</div>
              			<div class="form-group">
              				<label>内容</label>
              				<textarea id="eventContent" class="form-control" placeholder="内容" rows="3"></textarea>
              			</div>
              			<div class="checkbox" style="margin-bottom:15px;">
              				<label><input id="eventNotify" type="checkbox" value=""> 发送短信通知</label>
              			</div>
              			<button type="button" id="addNewEventBtn" class="btn btn-success btn-flat " style="width:100%;">创建</button>
              		</form>
      			</div>
      		</div>
      	</div>
		<div class="row">
          	<div class="box box-primary">
            	<div class="box-body no-padding">
             		<!-- THE CALENDAR -->
              		<div id="calendar" class="fc fc-ltr fc-unthemed">
              			<div class="fc-toolbar">
              				<div class="fc-left">
              					<div class="fc-button-group">
              						<button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left">
              							<span class="fc-icon fc-icon-left-single-arrow"></span>
              						</button>
              						<button type="button" class="fc-next-button fc-button fc-state-default fc-corner-right">
              							<span class="fc-icon fc-icon-right-single-arrow"></span>
              						</button>
              					</div>
              					<button type="button" class="fc-today-button fc-button fc-state-default fc-corner-left fc-corner-right fc-state-disabled" disabled="disabled">今日</button>
              				</div>
              				<div class="fc-right">
              					<div class="fc-button-group">
              						<button type="button" class="fc-month-button fc-button fc-state-default fc-corner-left fc-state-active">月</button>
              						<button type="button" class="fc-agendaWeek-button fc-button fc-state-default">周</button>
              						<button type="button" class="fc-agendaDay-button fc-button fc-state-default fc-corner-right">天</button>
              					</div>
              				</div>
              				<div class="fc-center">
              					<h2>2019年4月</h2>
              				</div>
              				<div class="fc-clear"></div>
              			</div>
              			<div class="fc-view-container" style="">
              				<div class="fc-view fc-month-view fc-basic-view" style="">
              					<table>
              						<thead>
              							<tr>
              								<td class="fc-widget-header">
              									<div class="fc-row fc-widget-header">
              										<table>
              											<thead>
              												<tr>
              													<th class="fc-day-header fc-widget-header fc-sun">周日</th>
              													<th class="fc-day-header fc-widget-header fc-mon">周一</th>
              													<th class="fc-day-header fc-widget-header fc-tue">周二</th>
              													<th class="fc-day-header fc-widget-header fc-wed">周三</th>
              													<th class="fc-day-header fc-widget-header fc-thu">周四</th>
              													<th class="fc-day-header fc-widget-header fc-fri">周五</th>
              													<th class="fc-day-header fc-widget-header fc-sat">周六</th>
              												</tr>
              											</thead>
              										</table>
              									</div>
              								</td>
              							</tr>
              						</thead>
              						<tbody>
              							<tr>
              								<td class="fc-widget-content">
              									<div class="fc-day-grid-container" style="">
              										<div class="fc-day-grid">
              											<div class="fc-row fc-week fc-widget-content" style="height: 58px;">
              												<div class="fc-bg">
              													<table>
              														<tbody>
              															<tr>
              																<td class="fc-day fc-widget-content fc-sun fc-other-month fc-past" data-date="2019-03-31"></td>
              																<td class="fc-day fc-widget-content fc-mon fc-past" data-date="2019-04-01"></td>
              																<td class="fc-day fc-widget-content fc-tue fc-past" data-date="2019-04-02"></td>
              																<td class="fc-day fc-widget-content fc-wed fc-past" data-date="2019-04-03"></td>
              																<td class="fc-day fc-widget-content fc-thu fc-past" data-date="2019-04-04"></td>
              																<td class="fc-day fc-widget-content fc-fri fc-past" data-date="2019-04-05"></td>
              																<td class="fc-day fc-widget-content fc-sat fc-past" data-date="2019-04-06"></td>
              															</tr>
              														</tbody>
              													</table>
              												</div>
              												<div class="fc-content-skeleton">
              													<table>
              														<thead>
              															<tr>
              																<td class="fc-day-number fc-sun fc-other-month fc-past" data-date="2019-03-31">31</td>
              																<td class="fc-day-number fc-mon fc-past" data-date="2019-04-01">1</td>
              																<td class="fc-day-number fc-tue fc-past" data-date="2019-04-02">2</td>
              																<td class="fc-day-number fc-wed fc-past" data-date="2019-04-03">3</td>
              																<td class="fc-day-number fc-thu fc-past" data-date="2019-04-04">4</td>
              																<td class="fc-day-number fc-fri fc-past" data-date="2019-04-05">5</td>
              																<td class="fc-day-number fc-sat fc-past" data-date="2019-04-06">6</td>
              															</tr>
              														</thead>
              														<tbody>
              															<tr>
              																<td></td>
              																<td class="fc-event-container">
              																	<a class="fc-day-grid-event fc-event fc-start fc-end fc-draggable"  href="calendar_detail" style="background-color:#f56954;border-color:#f56954">
              																		<div class="fc-content">
              																			<span class="fc-time">12a</span>
              																			<span class="fc-title">All Day Event</span>
              																		</div>
              																	</a>
              																</td>
              																<td></td>
              																<td></td>
              																<td></td>
              																<td></td>
              																<td></td>
              															</tr>
              														</tbody>
              													</table>
              												</div>
              											</div>
              											<div class="fc-row fc-week fc-widget-content" style="height: 58px;">
              												<div class="fc-bg">
              													<table>
              														<tbody>
              															<tr>
              																<td class="fc-day fc-widget-content fc-sun fc-past" data-date="2019-04-07"></td>
              																<td class="fc-day fc-widget-content fc-mon fc-past" data-date="2019-04-08"></td>
              																<td class="fc-day fc-widget-content fc-tue fc-past" data-date="2019-04-09"></td>
              																<td class="fc-day fc-widget-content fc-wed fc-past" data-date="2019-04-10"></td>
              																<td class="fc-day fc-widget-content fc-thu fc-past" data-date="2019-04-11"></td>
              																<td class="fc-day fc-widget-content fc-fri fc-past" data-date="2019-04-12"></td>
              																<td class="fc-day fc-widget-content fc-sat fc-past" data-date="2019-04-13"></td>
              															</tr>
              														</tbody>
              													</table>
              												</div>
              												<div class="fc-content-skeleton">
              													<table>
              														<thead>
              															<tr>
              																<td class="fc-day-number fc-sun fc-past" data-date="2019-04-07">7</td>
              																<td class="fc-day-number fc-mon fc-past" data-date="2019-04-08">8</td>
              																<td class="fc-day-number fc-tue fc-past" data-date="2019-04-09">9</td>
              																<td class="fc-day-number fc-wed fc-past" data-date="2019-04-10">10</td>
              																<td class="fc-day-number fc-thu fc-past" data-date="2019-04-11">11</td>
              																<td class="fc-day-number fc-fri fc-past" data-date="2019-04-12">12</td>
              																<td class="fc-day-number fc-sat fc-past" data-date="2019-04-13">13</td>
              															</tr>
              														</thead>
              														<tbody>
              															<tr>
              																<td></td>
              																<td></td>
              																<td></td>
              																<td></td>
              																<td></td>
              																<td></td>
              																<td></td>
              															</tr>
              														</tbody>
              													</table>
              												</div>
              											</div>
              											<div class="fc-row fc-week fc-widget-content" style="height: 58px;">
              												<div class="fc-bg">
              													<table>
              														<tbody>
              															<tr>
              																<td class="fc-day fc-widget-content fc-sun fc-past" data-date="2019-04-14"></td>
              																<td class="fc-day fc-widget-content fc-mon fc-past" data-date="2019-04-15"></td>
              																<td class="fc-day fc-widget-content fc-tue fc-past" data-date="2019-04-16"></td>
              																<td class="fc-day fc-widget-content fc-wed fc-past" data-date="2019-04-17"></td>
              																<td class="fc-day fc-widget-content fc-thu fc-past" data-date="2019-04-18"></td>
              																<td class="fc-day fc-widget-content fc-fri fc-past" data-date="2019-04-19"></td>
              																<td class="fc-day fc-widget-content fc-sat fc-past" data-date="2019-04-20"></td>
              															</tr>
              														</tbody>
              													</table>
              												</div>
              												<div class="fc-content-skeleton">
              													<table>
              														<thead>
              															<tr>
              																<td class="fc-day-number fc-sun fc-past" data-date="2019-04-14">14</td>
              																<td class="fc-day-number fc-mon fc-past" data-date="2019-04-15">15</td>
              																<td class="fc-day-number fc-tue fc-past" data-date="2019-04-16">16</td>
              																<td class="fc-day-number fc-wed fc-past" data-date="2019-04-17">17</td>
              																<td class="fc-day-number fc-thu fc-past" data-date="2019-04-18">18</td>
              																<td class="fc-day-number fc-fri fc-past" data-date="2019-04-19">19</td>
              																<td class="fc-day-number fc-sat fc-past" data-date="2019-04-20">20</td>
              															</tr>
              														</thead>
              														<tbody>
              															<tr>
              																<td></td>
              																<td></td>
              																<td></td>
              																<td></td>
              																<td></td>
              																<td></td>
              																<td></td>
              															</tr>
              														</tbody>
              													</table>
              												</div>
              											</div>
              											<div class="fc-row fc-week fc-widget-content" style="height: 58px;">
              												<div class="fc-bg">
              													<table>
              														<tbody>
              															<tr>
              																<td class="fc-day fc-widget-content fc-sun fc-past" data-date="2019-04-21"></td>
              																<td class="fc-day fc-widget-content fc-mon fc-past" data-date="2019-04-22"></td>
              																<td class="fc-day fc-widget-content fc-tue fc-past" data-date="2019-04-23"></td>
              																<td class="fc-day fc-widget-content fc-wed fc-past" data-date="2019-04-24"></td>
              																<td class="fc-day fc-widget-content fc-thu fc-past" data-date="2019-04-25"></td>
              																<td class="fc-day fc-widget-content fc-fri fc-past" data-date="2019-04-26"></td>
              																<td class="fc-day fc-widget-content fc-sat fc-past" data-date="2019-04-27"></td>
              															</tr>
              														</tbody>
              													</table>
              												</div>
              												<div class="fc-content-skeleton">
              													<table>
              														<thead>
              															<tr>
              																<td class="fc-day-number fc-sun fc-past" data-date="2019-04-21">21</td>
              																<td class="fc-day-number fc-mon fc-past" data-date="2019-04-22">22</td>
              																<td class="fc-day-number fc-tue fc-past" data-date="2019-04-23">23</td>
              																<td class="fc-day-number fc-wed fc-past" data-date="2019-04-24">24</td>
              																<td class="fc-day-number fc-thu fc-past" data-date="2019-04-25">25</td>
              																<td class="fc-day-number fc-fri fc-past" data-date="2019-04-26">26</td>
              																<td class="fc-day-number fc-sat fc-past" data-date="2019-04-27">27</td>
              															</tr>
              														</thead>
              													<tbody>
              														<tr>
              															<td></td>
              															<td></td>
              															<td class="fc-event-container" colspan="3">
              																<a class="fc-day-grid-event fc-event fc-start fc-end fc-draggable"  href="calendar_detail" style="background-color:#f39c12;border-color:#f39c12">
              																	<div class="fc-content">
              																		<span class="fc-time">12a</span>
																					<span class="fc-title">Long Event</span>
																				</div>
																			</a>
																		</td>
																		<td></td>
																		<td></td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
													<div class="fc-row fc-week fc-widget-content" style="">
														<div class="fc-bg">
															<table>
																<tbody>
																	<tr>
																		<td class="fc-day fc-widget-content fc-sun fc-today fc-state-highlight" data-date="2019-04-28"></td>
																		<td class="fc-day fc-widget-content fc-mon fc-future" data-date="2019-04-29"></td>
																		<td class="fc-day fc-widget-content fc-tue fc-future" data-date="2019-04-30"></td>
																		<td class="fc-day fc-widget-content fc-wed fc-other-month fc-future" data-date="2019-05-01"></td>
																		<td class="fc-day fc-widget-content fc-thu fc-other-month fc-future" data-date="2019-05-02"></td>
																		<td class="fc-day fc-widget-content fc-fri fc-other-month fc-future" data-date="2019-05-03"></td>
																		<td class="fc-day fc-widget-content fc-sat fc-other-month fc-future" data-date="2019-05-04"></td>
																	</tr>
																</tbody>
															</table>
														</div>
														<div class="fc-content-skeleton">
															<table>
																<thead>
																	<tr>
																		<td class="fc-day-number fc-sun fc-today fc-state-highlight" data-date="2019-04-28">28</td>
																		<td class="fc-day-number fc-mon fc-future" data-date="2019-04-29">29</td>
																		<td class="fc-day-number fc-tue fc-future" data-date="2019-04-30">30</td>
																		<td class="fc-day-number fc-wed fc-other-month fc-future" data-date="2019-05-01">1</td>
																		<td class="fc-day-number fc-thu fc-other-month fc-future" data-date="2019-05-02">2</td>
																		<td class="fc-day-number fc-fri fc-other-month fc-future" data-date="2019-05-03">3</td>
																		<td class="fc-day-number fc-sat fc-other-month fc-future" data-date="2019-05-04">4</td>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td class="fc-event-container">
																			<a class="fc-day-grid-event fc-event fc-start fc-end fc-draggable" href="calendar_detail" style="background-color:#3c8dbc;border-color:#3c8dbc">
																				<div class="fc-content">
																					<span class="fc-time">12a</span> 
																					<span class="fc-title">Click for Google</span>
																				</div>
																			</a>
																		</td>
																		<td class="fc-event-container" rowspan="3">
																			<a class="fc-day-grid-event fc-event fc-start fc-end fc-draggable"  href="calendar_detail" style="background-color:#00a65a;border-color:#00a65a">
																				<div class="fc-content">
																					<span class="fc-time">7p</span> 
																					<span class="fc-title">Birthday Party</span>
																				</div>
																			</a>
																		</td>
																		<td rowspan="3"></td>
																		<td rowspan="3"></td>
																		<td rowspan="3"></td>
																		<td rowspan="3"></td>
																		<td rowspan="3"></td>
																	</tr>
																	<tr>
																		<td class="fc-event-container">
																			<a class="fc-day-grid-event fc-event fc-start fc-end fc-draggable"  href="calendar_detail" style="background-color:#0073b7;border-color:#0073b7">
																				<div class="fc-content">
																					<span class="fc-time">10:30a</span> 
																					<span class="fc-title">Meeting</span>
																				</div>
																			</a>
																		</td>
																	</tr>
																	<tr>
																		<td class="fc-event-container">
																			<a class="fc-day-grid-event fc-event fc-start fc-end fc-draggable"  href="calendar_detail" style="background-color:#00c0ef;border-color:#00c0ef">
																				<div class="fc-content">
																					<span class="fc-time">12p</span>
																					<span class="fc-title">Lunch</span>
																				</div>
																			</a>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
													<div class="fc-row fc-week fc-widget-content" style="height: 61px;">
													<div class="fc-bg">
														<table>
															<tbody>
																<tr>
																	<td class="fc-day fc-widget-content fc-sun fc-other-month fc-future" data-date="2019-05-05"></td>
																	<td class="fc-day fc-widget-content fc-mon fc-other-month fc-future" data-date="2019-05-06"></td>
																	<td class="fc-day fc-widget-content fc-tue fc-other-month fc-future" data-date="2019-05-07"></td>
																	<td class="fc-day fc-widget-content fc-wed fc-other-month fc-future" data-date="2019-05-08"></td>
																	<td class="fc-day fc-widget-content fc-thu fc-other-month fc-future" data-date="2019-05-09"></td>
																	<td class="fc-day fc-widget-content fc-fri fc-other-month fc-future" data-date="2019-05-10"></td>
																	<td class="fc-day fc-widget-content fc-sat fc-other-month fc-future" data-date="2019-05-11"></td>
																</tr>
															</tbody>
														</table>
													</div>
													<div class="fc-content-skeleton">
														<table>
															<thead>
																<tr>
																	<td class="fc-day-number fc-sun fc-other-month fc-future" data-date="2019-05-05">5</td>
																	<td class="fc-day-number fc-mon fc-other-month fc-future" data-date="2019-05-06">6</td>
																	<td class="fc-day-number fc-tue fc-other-month fc-future" data-date="2019-05-07">7</td>
																	<td class="fc-day-number fc-wed fc-other-month fc-future" data-date="2019-05-08">8</td>
																	<td class="fc-day-number fc-thu fc-other-month fc-future" data-date="2019-05-09">9</td>
																	<td class="fc-day-number fc-fri fc-other-month fc-future" data-date="2019-05-10">10</td>
																	<td class="fc-day-number fc-sat fc-other-month fc-future" data-date="2019-05-11">11</td>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td></td>
																	<td></td>
																	<td></td>
																	<td></td>
																	<td></td>
																	<td></td>
																	<td></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</td>
								</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
	            <!-- /.box-body -->
	          </div>
          </div>
          <!-- /. box -->
        </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="footer::footer">
  </footer>

</div>
<!-- ./wrapper -->

<div th:include="header::jsfragment"></div>
<script src="/bower_components/moment/min/moment.min.js"></script>
<script src="/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script>
  $(function () {
	  
	  /* 搜索参加人 */
	  var users = {};
	  function create_item(user) {
		  return $('<span class="label label-warning">' + user.name + '   <span class="fa fa-times remove-label"></span><span name="username" class="hide">' + user.username + '</span></span>');
	  }
	  
	  function select_user(event) {
		  var username = $(event.target).children("span").text();
		  for (var i = 0; i < users.length; i++) {
			  if (users[i].username == username) {
				  $("#userlist").append(create_item(users[i]));
			  }
		  }
		  $("#user_result").slideUp();
	  }
	  
	  $("#searchuser").on("click", function () {
		  var content = $("#searchkey").val();
		  if(content == null || content.length == 0) {
			  $("#errormsg").text("请输入搜索内容后重试");
			  return;
		  }

		  $("#errormsg").text("");
		  alert('search user');
		 $.get("/user_search/" + content, {}, function () {
			 if (data.returnState == "OK") {
				 users = data.returnData.users;
				 if (users.length == 0) {
					$("#userlist").append(create_item(users[0]));
				 } else {
					 $("#user_result").empty();
					 for (var i = 0; i < users.length; i++) {
						 var user = users[i];
						 var li = $("<li class='list-group-item'>" + user.name + " " + user.phone + "<span class='hide'>" + user.username + "</span></li>");
						 li.on("click", select_user);
						 $("#user_result").append(li);
					 } 
					 if ($("#user_result").children("li").length > 0) {
						 $("#user_result").slideDown();
					 }
				 }
			 } else {
				 $("#errormsg").text(data.returnMsg);
			 }
		 }) ;
	  });
	  
	  /* 提交事件 */
	  $("#addNewEventBtn").on("click", function () {
		 var param = new Object();
		 param.title = $("#eventTitle").val();
		 param.startTime = $("#startTime").val();
		 param.endTime = $("#endTime").val();
		 var users = [];
		 var userlist = $("#userlist").find("[name='username']");
		 for (var i = 0; i < userlist.length; i++) {
		 	users[i] = userlist[i].text();
		 }
		 param.users = users;
		 param.content = $("#eventContent").val();
		 param.notify = $("#eventNotify").prop("checked");
		 $.ajax({
				type:"POST",
				url:"/schedule/create",
				data:JSON.stringify(param),
				dataType:"json",
				contentType:"application/json",
				success: function(data) {
					if (data.returnState == "OK") {
						//window.location = "/order_detail/" + data.returnData.orderno;
					} else {
						$("#errormsg").text(data.returnMsg);
					}
				}
		 });
	  });
	  
	  

    /* initialize the external events
     -----------------------------------------------------------------*/
    function ini_events(ele) {
      ele.each(function () {

        // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
        // it doesn't need to have a start or end
        var eventObject = {
          title: $.trim($(this).text()) // use the element's text as the event title
        };

        // store the Event Object in the DOM element so we can get to it later
        $(this).data('eventObject', eventObject);

        // make the event draggable using jQuery UI
        $(this).draggable({
          zIndex: 1070,
          revert: true, // will cause the event to go back to its
          revertDuration: 0  //  original position after the drag
        });

      });
    }

    ini_events($('#external-events div.external-event'));

    /* initialize the calendar
     -----------------------------------------------------------------*/
    //Date for the calendar events (dummy data)
    var date = new Date();
    var d = date.getDate(),
        m = date.getMonth(),
        y = date.getFullYear();
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      buttonText: {
        today: 'today',
        month: 'month',
        week: 'week',
        day: 'day'
      },
      //Random default events
      events: [
        {
          title: 'All Day Event',
          start: new Date(y, m, 1),
          backgroundColor: "#f56954", //red
          borderColor: "#f56954" //red
        },
        {
          title: 'Long Event',
          start: new Date(y, m, d - 5),
          end: new Date(y, m, d - 2),
          backgroundColor: "#f39c12", //yellow
          borderColor: "#f39c12" //yellow
        },
        {
          title: 'Meeting',
          start: new Date(y, m, d, 10, 30),
          allDay: false,
          backgroundColor: "#0073b7", //Blue
          borderColor: "#0073b7" //Blue
        },
        {
          title: 'Lunch',
          start: new Date(y, m, d, 12, 0),
          end: new Date(y, m, d, 14, 0),
          allDay: false,
          backgroundColor: "#00c0ef", //Info (aqua)
          borderColor: "#00c0ef" //Info (aqua)
        },
        {
          title: 'Birthday Party',
          start: new Date(y, m, d + 1, 19, 0),
          end: new Date(y, m, d + 1, 22, 30),
          allDay: false,
          backgroundColor: "#00a65a", //Success (green)
          borderColor: "#00a65a" //Success (green)
        },
        {
          title: 'Click for Google',
          start: new Date(y, m, 28),
          end: new Date(y, m, 29),
          url: 'http://google.com/',
          backgroundColor: "#3c8dbc", //Primary (light-blue)
          borderColor: "#3c8dbc" //Primary (light-blue)
        }
      ],
      editable: true,
      droppable: true, // this allows things to be dropped onto the calendar !!!
      drop: function (date, allDay) { // this function is called when something is dropped

        // retrieve the dropped element's stored Event Object
        var originalEventObject = $(this).data('eventObject');

        // we need to copy it, so that multiple events don't have a reference to the same object
        var copiedEventObject = $.extend({}, originalEventObject);

        // assign it the date that was reported
        copiedEventObject.start = date;
        copiedEventObject.allDay = allDay;
        copiedEventObject.backgroundColor = $(this).css("background-color");
        copiedEventObject.borderColor = $(this).css("border-color");

        // render the event on the calendar
        // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
        $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

        // is the "remove after drop" checkbox checked?
        if ($('#drop-remove').is(':checked')) {
          // if so, remove the element from the "Draggable Events" list
          $(this).remove();
        }

      }
    });

    /* ADDING EVENTS */
    var currColor = "#3c8dbc"; //Red by default
    //Color chooser button
    var colorChooser = $("#color-chooser-btn");
    $("#color-chooser > li > a").click(function (e) {
      e.preventDefault();
      //Save color
      currColor = $(this).css("color");
      //Add color effect to button
      $('#add-new-event').css({"background-color": currColor, "border-color": currColor});
    });
    $("#add-new-event").click(function (e) {
      e.preventDefault();
      //Get value and make sure it is not null
      var val = $("#new-event").val();
      if (val.length == 0) {
        return;
      }

      //Create events
      var event = $("<div />");
      event.css({"background-color": currColor, "border-color": currColor, "color": "#fff"}).addClass("external-event");
      event.html(val);
      $('#external-events').prepend(event);

      //Add draggable funtionality
      ini_events(event);

      //Remove event from text input
      $("#new-event").val("");
    });
  });
</script>
</body>
</html>
