<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="header::cssfragment">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header th:replace="header::mainheader(${notifications}, ${tasks}, ${carets}, ${userWrapper.getUser()})" class="main-header">
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="header::mainsider(${userWrapper})" class="main-sidebar">
  </aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        修改客户信息
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li>客户</li>
        <li class="active">修改客户信息</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
    		<p id="errormsg" style="color:red;" th:text="(${error} != null) ? ${error} : ''"></p>
    	</div>
		<div class="row">
			<div class="box box-warning">
				<div class="box-header with-border">
					<h3 class="box-title">客户信息</h3>
				</div>
				<div class="box-body" th:if="${customer} != null">
					<form role="form" id="customerform">
						<div class="form-group hide">
							<label>客户ID</label>
							<input type="text" class="form-control" readonly name="id" th:value="${customer.id}">
						</div>
						<div class="form-group">
							<label>姓名</label>
							<input type="text" class="form-control" name="name" th:value="${customer.name}" />
						</div>
						<div class="form-group">
							<label>电话</label>
							<input type="number" class="form-control" name="phone" th:value="${customer.phone}"/>
						</div>
						<div class="form-group">
							<label>地址</label>
							<input type="text" class="form-control" name="address" th:value="${customer.address}" />
						</div>
						<div class="form-group">
							<label>生日</label>
							<input type="date" class="form-control" name="birthday" th:with="birthday=${customer.birthday}" th:value="${#calendars.format(birthday, 'yyyy-MM-dd')}" />
						</div>
						<div class="form-group">
							<label style="display:block;">性别</label>
							<div class="radio-inline">
								<label>
									<input type="radio" name="sex" value="male" th:checked="${customer.sex} == 0 ? 'checked' : ''" />
									男
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="sex" value="female" th:checked="${customer.sex} == 1 ? 'checked' : ''" />
									女
								</label>
							</div>
						</div>
						<div class="form-group">
							<label>备注</label>
							<textarea class="form-control" rows="3" name="remark" th:value="${customer.remark}"></textarea>
						</div>
					</form>
				</div>
				<div class="box-footer">
					<button id="cancelbtn" type="button" class="btn btn-default btn-flat">取消</button>
					<button id="submitbtn" type="button" class="btn btn-success btn-flat pull-right">提交</button>
				</div>
			</div>
		</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="footer::footer">
  </footer>

</div>
<!-- ./wrapper -->

<div th:include="header::jsfragment"></div>
<script type="text/javascript">
	$(function() {
		$("#submitbtn").on("click", 
			function() {
				$.ajax({
					type:"POST",
					url:"/customer/update",
					data:JSON.stringify($("#customerform").serializeJSON()),
					dataType:"json",
					contentType:"application/json",
					success: function(data) {
						if (data.returnState == "OK") {
							window.location="/customer_detail/" + data.returnData.customerid;
						} else {
							$("#errormsg").text(data.returnMsg);
						}
					}
				});
			}
		);
		$("#cancelbtn").on("click", function () {
			historyback();
		});
	});
</script>
</body>
</html>
