<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="header::cssfragment">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header th:replace="header::mainheader(${notifications}, ${tasks}, ${carets}, ${userWrapper.getUser()})" class="main-header">
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="header::mainsider(${userWrapper})" class="main-sidebar">
  </aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        客户详情
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li>客户</li>
        <li class="active">客户详情</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<p id="errormsg" style="color:red;" th:text="(${error} != null) ? ${error} : ''"></p>
    	</div>
      	<div class="row" th:if="${customer} != null">
      		<div class="box box-info">
      			<div class="box-header with-border">
      				<h3 class="box-title" th:text="${customer.name}">邓超</h3>
      				<div class="btn-group pull-right">
     					<button id="modifybtn" type="button" class="btn btn-default"><span class="fa fa-pencil-square-o"></span></button>
     					<button id="deletebtn" type="button" class="btn btn-default"><span class="fa fa-trash-o"></span></button>
     				</div>
      			</div>
      			<div class="box-body">
      				<table class="table table-striped">
      					<tbody>
      						<tr class="hide" th:if="${limit['id']}">
      							<td>客户ID</td>
      							<td id="customer_id" th:text="${customer.id}"></td>
      						</tr>
      						<tr th:if="${limit['phone']}">
      							<td>电话</td>
      							<td th:text="${customer.phone}">15555555555</td>
      						</tr>
      						<tr th:if="${limit['sex']}">
      							<td>性别</td>
      							<td th:text="${customer.getSexStr()}">男</td>
      						</tr>
      						<tr th:if="${limit['birthday']}">
      							<td>生日</td>
      							<td th:with="birthday=${customer.birthday}" th:text="${#calendars.format(birthday, 'yyyy/MM/dd')}">1984/02/23</td>
      						</tr>
      						<tr th:if="${limit['address']}">
      							<td>地址</td>
      							<td th:text="${customer.address}">济宁市任城区</td>
      						</tr>
      						<tr th:if="${limit['remark']}">
      							<td>备注</td>
      							<td th:text="${customer.remark}">无</td>
      						</tr>
      					</tbody>
      				</table>
      			</div>
      			<div class="box-footer text-center">
      				<a id="queryorderbtn" href="#">查询订单</a>
      			</div>
      		</div>
      	</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="footer::footer">
  </footer>

</div>
<!-- ./wrapper -->

<div th:include="header::jsfragment"></div>
<script type="text/javascript">
	$(function () {
		$("#queryorderbtn").on("click", function () {
			alert("暂未实现");
		});
		
		$("#modifybtn").on("click", function () {
			var customer_id = $("#customer_id").text();
			if (customer_id == null || customer_id.length == 0) {
				$("#errormsg").text("客户ID不能为空，请刷新页面后重试");
				return;
			}
			
			window.location="/customer_update/" + customer_id;
		});
		
		$("#deletebtn").on("click", function () {
			var customer_id = $("#customer_id").text();
			if (customer_id == null || customer_id.length == 0) {
				$("#errormsg").text("客户ID不能为空，请刷新页面后重试");
				return;
			}
			
			$.post("/customer/delete", {"customer_id":customer_id}, function (data) {
				if (data.returnState == "OK") {
					window.location = "/customer_list";
				} else {
					$("#errormsg").text(data.returnMsg);
				}
			});
		});
	});
</script>
</body>
</html>
