<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Error page</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
</head>
<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
    <h1 th:if="${#response.status == 403} or ${#response.status == 500}">您无权限访问此页面，请返回</h1>
    <h1 th:if="${#response.status != 403} and ${#response.status != 500}" th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
    <p th:utext="${errorMessage}">运行时错误！</p>
    <a href="javascript:history.back(-1)">返回</a>
</body>
</html>