<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>云库家具门店管理系统</title>

</head>
<body>
  <header th:fragment="mainheader(notifications, tasks, carets, user)" class="main-header">
    <!-- Logo -->
    <a href="/index" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>云库</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>云库</b>门店管理系统</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning" th:text="(${notifications} == null) ? '0' : ${notifications.size()}">5</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header" th:text="'您有' + ((${notifications} == null) ? '0' : ${notifications.size()}) + '条未读通知'">您有5条未读通知</li>
              <li>
              	<ul class="menu" th:if="(${notifications} != null) and (${notifications.size()} gt 0)">
              		<li th:each="notify : ${notifications}">
              			<a th:inline="text">
              				<i class="fa " th:classappend="${notify.label}"></i>[[${notify.content}]]
              			</a>
              		</li>
              	</ul>
              </li>
              <li class="footer"><a href="/notifylist">查看所有通知</a></li>
            </ul>
          </li>
          <!-- Tasks: style can be found in dropdown.less -->
          <li class="dropdown tasks-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger" th:text="(${tasks} == null) ? '0' : ${tasks.size()}">2</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header" th:text="'您有' + ((${tasks} == null) ? '0' : ${tasks.size()}) + '条任务未完成'">您有4条任务未完成</li>
              <li>
              	<ul class="menu" th:if="(${tasks} != null) and (${tasks.size()} gt 0)">
              		<li th:each="task : ${tasks}">
              			<a>
              				<h3><p style="display:inline" th:text="${task.title}">本月销售目标</p><small class="pull-right" th:text="${task.progress} + '%'">20%</small></h3>
		                    <div class="progress xs">
		                      <div class="progress-bar progress-bar-red" th:if="${task.progress} lt 25" style="width: 25%" role="progressbar"
		                           aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
		                           th:style="'width:' + ${task.progress} + '%'" th:aria-valuenow="${task.progress}">
		                        <span class="sr-only" th:text="'完成' + ${task.progress} + '%'">完成 25%</span>
		                      </div>
		                      <div class="progress-bar progress-bar-yellow" th:if="(${task.progress} ge 25) and (${task.progress} lt 50)" style="width: 50%" role="progressbar"
		                           aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
		                           th:style="'width:' + ${task.progress} + '%'" th:aria-valuenow="${task.progress}">
		                        <span class="sr-only" th:text="'完成' + ${task.progress} + '%'">完成 50%</span>
		                      </div>
		            	      <div class="progress-bar progress-bar-aqua" th:if="(${task.progress} ge 50) and (${task.progress} lt 75)" style="width: 75%" role="progressbar"
		                           aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
		                           th:style="'width:' + ${task.progress} + '%'" th:aria-valuenow="${task.progress}">
		                        <span class="sr-only" th:text="'完成' + ${task.progress} + '%'">完成 75%</span>
		                      </div>
		                      <div class="progress-bar progress-bar-aqua" th:if="(${task.progress} ge 75) and (${task.progress} lt 100)" style="width: 100%" role="progressbar"
		                           aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
		                           th:style="'width:' + ${task.progress} + '%'" th:aria-valuenow="${task.progress}">
		                        <span class="sr-only" th:text="'完成' + ${task.progress} + '%'">完成 100%</span>
		                      </div>
		                    </div>
              			</a>
              		</li>
              	</ul>
              </li>
              <li class="footer">
                <a href="/tasklist">查看所有任务</a>
              </li>
            </ul>
          </li>
          <!-- Notifications: cart -->
          <li class="dropdown notifications-menu">
          	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          		<i class="fa fa-shopping-cart"></i>
          		<span class="label label-warning" id="caret_label" th:text="((${carets} == null) ? '0' : ${carets.size()})">2</span>
          	</a>
          	<ul class="dropdown-menu">
          		<li class="header" id="caret_number" th:text="'购物车中有' + ((${carets} == null) ? '0' : ${carets.size()}) + '件商品'">购物车中有2件商品</li>
          		<li>
          			<ul id="caretmenu" class="menu">
          				<li th:each="caret : ${carets}">
          					<div class="shopcart-item">
          						<div class="shopcart-img">
          							<img src="/dist/img/default-50x50.gif"/>
          						</div>
          						<div class="shopcart-info">
          							<p class="shopcart-title" th:inline="text">
          								[[${caret.product.name}]]
          								<span class="label label-warning pull-right" th:text="'￥' + ${caret.product.price} + ' x' + ${caret.number}">
          								￥5000 x2
          								</span>
          							</p>
          							<span th:text="${caret.product.introduction}">
          								 双虎家私 - 红木 - 红色 - 180x200
          							</span>
          						</div>
          					</div>
          				</li>
          			</ul>
          		</li>
          		<li class="footer">
          			<a href="/order_create">
          				<button type="button" class="btn btn-success btn-block btn-flat">下单</button>
          			</a>
          		</li>
          	</ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="/dist/img/user2-160x160.jpg" th:if="(${user.picture} == null) or (${user.picture.length()} <= 0)" class="user-image" alt="User Image">
			  <img src="/dist/img/user2-160x160.jpg" th:unless="(${user.picture} == null) or (${user.picture.length()} <= 0)" th:src="${user.picture}" class="user-image" alt="User Image">
              <span class="hidden-xs" th:text="${user.name}">邓超</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="/dist/img/user2-160x160.jpg" th:if="(${user.picture} == null) or (${user.picture.length()} <= 0)" class="img-circle" alt="User Image">
				<img src="/dist/img/user2-160x160.jpg" th:unless="(${user.picture} == null) or (${user.picture.length()} <= 0)" th:src="@{user.picture}" class="img-circle" alt="User Image">
                <p th:utext="${user.position}">
                		销售部 - 前台 	
                </p>
                <p><small th:with="joint=${user.createTime}" th:text="${#calendars.format(joint, 'yyyy/MM/dd')} + '入职'">2019年4月20日入职</small>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a th:href="'/user_info/' + ${user.username}" href="user_info/" class="btn btn-default btn-flat">个人信息</a>
                </div>
                <div class="pull-right">
                  <a href="/logout" class="btn btn-default btn-flat">登出</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  
    <!-- Left side column. contains the logo and sidebar -->
 <aside th:fragment="mainsider(userWrapper)" class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p th:text="${userWrapper.user.name}">邓超</p>
          <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="搜索...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                  <i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">导航栏</li>
        <li th:if="${userWrapper.hasRights('order',{'create','verify', 'cashin', 'delivery', 'install', 'read','readOther'})} or ${userWrapper.hasRights('product', 'storeout')}" class="treeview">
          <a href="#">
            <i class="fa fa-file"></i> <span>订单</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li th:if="${userWrapper.hasRight('order','create')}"><a href="/order_create"><i class="fa fa-circle-o"></i> 新建订单</a></li>
            <li th:if="${userWrapper.hasRight('order','verify')}"><a href="/order_list/verify"><i class="fa fa-circle-o"></i> 待审核订单</a></li>
            <li th:if="${userWrapper.hasRight('order','cashin')}"><a href="/order_list/cashin"><i class="fa fa-circle-o"></i> 待收款订单</a></li>
            <li th:if="${userWrapper.hasRight('product','storeout')}"><a href="/order_list/storeout"><i class="fa fa-circle-o"></i> 待出库订单</a></li>
            <li th:if="${userWrapper.hasRight('order','delivery')}"><a href="/order_list/delivery"><i class="fa fa-circle-o"></i> 待配送订单</a></li>
            <li th:if="${userWrapper.hasRight('order','install')}"><a href="/order_list/install"><i class="fa fa-circle-o"></i> 待安装订单</a></li>
            <li th:if="${userWrapper.hasRights('order',{'read','readOther'})}"><a href="/order_uncomplete"><i class="fa fa-circle-o"></i> 未完成订单</a></li>
            <li th:if="${userWrapper.hasRights('order',{'read','readOther'})}"><a href="/order_complete"><i class="fa fa-circle-o"></i> 已完成订单</a></li>
          </ul>
        </li>
        <li th:if="${userWrapper.hasRights('aftersale', {'create', 'read', 'readOther'})}" class="treeview hide">
          <a href="#">
            <i class="fa fa-file"></i> <span>售后</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li th:if="${userWrapper.hasRight('aftersale', 'create')}"><a href="/aftersale_create"><i class="fa fa-circle-o"></i> 新建订单</a></li>
            <li th:if="${userWrapper.hasRights('aftersale', {'read', 'readOther'})}"><a href="/aftersale_uncomplete"><i class="fa fa-circle-o"></i> 未完成订单</a></li>
            <li th:if="${userWrapper.hasRights('aftersale', {'read', 'readOther'})}"><a href="/aftersale_complete"><i class="fa fa-circle-o"></i> 已完成订单</a></li>
          </ul>
        </li>
        <li th:if="${userWrapper.hasRights('product', {'create', 'read'})}" class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>库存</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        	<ul class="treeview-menu">
        		<li th:if="${userWrapper.hasRight('product', 'read')}"><a href="/product_list"><i class="fa fa-circle-o"></i> 查询库存</a></li>
        		<li th:if="${userWrapper.hasRight('product', 'create')}"><a href="/product_create"><i class="fa fa-circle-o"></i> 新增商品</a></li>
        	</ul>
        </li>
        <li th:if="${userWrapper.hasRights('customer', {'create', 'read'})}" class="treeview">
          <a href="#">
            <i class="fa fa-address-book"></i> <span>客户</span>
            <span class="pull-right-container">
              <small class="fa pull-right fa-angle-left"></small>
            </span>
          </a>
          <ul class="treeview-menu">
          	<li th:if="${userWrapper.hasRight('customer', 'create')}"><a href="/customer_create"><i class="fa fa-circle-o"></i> 新增客户</a></li>
          	<li th:if="${userWrapper.hasRight('customer', 'read')}"><a href="/customer_list"><i class="fa fa-circle-o"></i> 客户列表</a></li>
          </ul>
        </li>
        <li th:if="false" class="treeview">
          <a href="#">
            <i class="fa fa-address-book"></i> <span>活动</span>
            <span class="pull-right-container">
              <small class="fa pull-right fa-angle-left"></small>
            </span>
          </a>
          <ul class="treeview-menu">
          	<li><a href="activity_create"><i class="fa fa-circle-o"></i> 新增活动</a></li>
          	<li><a href="activity_list"><i class="fa fa-circle-o"></i> 管理活动</a></li>
          </ul>
        </li>
        <li th:if="${userWrapper.hasRights('todo', {'create', 'read'})}">
          <a href="/event_todo">
            <i class="fa fa-warning"></i>
            <span>待办</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
            </span>
          </a>
        </li>
        <li  class="hide" th:if="${userWrapper.hasRights('schedule', {'create', 'read'})}">
          <a href="/calendar">
            <i class="fa fa-calendar"></i> <span>日程</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-red">3</small>
              <small class="label pull-right bg-blue">17</small>
            </span>
          </a>
        </li>
		<li th:if="${userWrapper.hasRights('user', {'create', 'readOther'})}" class=treeview>
          <a href="#">
            <i class="fa fa-user"></i> <span>员工</span>
            <span class="pull-right-container">
              <small class="fa pull-right fa-angle-left"></small>
            </span>
          </a>
          <ul class="treeview-menu">
          	<li><a href="/user_create"><i class="fa fa-circle-o"></i> 新增员工</a>
          	<li><a href="/user_list"><i class="fa fa-circle-o"></i> 员工列表</a>
          </ul>
        </li>
        <li th:if="${userWrapper.hasRights('tenant', {'readInfo', 'readReport', 'deposit', 'subscribe', 'withdraw', 'readWaterBill', 'exportData', 'setAgent', 'deleteReq'})}" class="header">租户账户</li>
        <li th:if="${userWrapper.hasRights('tenant', 'readInfo')}"><a href="tenant_info"><i class="fa fa-info-circle"></i> <span>租户信息</span></a></li>
        <li th:if="${userWrapper.hasRights('tenant', 'setAgent')}"><a href="tenant_setting"><i class="fa fa-gear"></i> <span>代理设置</span></a></li>
        <li th:if="${userWrapper.hasRights('tenant', 'readReport')}"><a href="tenant_report"><i class="fa fa-info-circle"></i> <span>报表</span></a></li>
        <li th:if="${userWrapper.hasRights('tenant', 'subscribe')}"><a href="tenant_placeorder"><i class="fa fa-credit-card"></i> <span>订购</span></a></li>
        <li th:if="${userWrapper.hasRights('tenant', 'recharge')}"><a href="tenant_recharge"><i class="fa fa-cny"></i> <span>充值</span></a></li>
        <li th:if="${userWrapper.hasRights('tenant', 'cashout')}"><a href="tenant_drawout"><i class="fa fa-bank"></i> <span>提现</span></a></li>
        <li th:if="${userWrapper.hasRights('tenant', 'readWaterBill')}"><a href="tenant_waterbill"><i class="fa fa-exchange"></i> <span>资金往来</span></a></li>
        <li th:if="${userWrapper.hasRights('tenant', 'exportData')}"><a href="tenant_export"><i class="fa fa-save"></i> <span>导出数据</span></a></li>
        <li th:if="${userWrapper.hasRights('tenant', 'deleteReq')}"><a href="tenant_withdraw"><i class="fa fa-circle-o text-red"></i> <span>注销租户</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  <div th:fragment="cssfragment">
	   <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <title>云库家具门店管理系统</title>
	  <!-- Tell the browser to be responsive to screen width -->
	  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	    <!-- Bootstrap 3.3.7 -->
	  <link rel="stylesheet" href="/bower_components/jquery-ui/themes/base/jquery-ui.css">
	  <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
	  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	  <!-- Font Awesome -->
	  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
	  <!-- Ionicons -->
	  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
	  <!-- jvectormap -->
	  <link rel="stylesheet" href="/bower_components/jvectormap/jquery-jvectormap.css">
	  <!-- Theme style -->
	  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
	  <!-- AdminLTE Skins. Choose a skin from the css/skins
	       folder instead of downloading all of them to reduce the load. -->
	  <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">
	  <link rel="stylesheet" href="/plugins/iOS-Overlay/css/iosOverlay.css">
	  <link rel="stylesheet" href="/plugins/iOS-Overlay/css/prettify.css">
	  
	  <!-- customer css, must be the bottom of css files -->
	  <link rel="stylesheet" href="/custom/css/common.css">
	
	  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	  <!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	  <![endif]-->
	
	  <!-- Google Font -->
	  <link rel="stylesheet"
	        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  </div>
  <div th:fragment="jsfragment">
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/jquery-ui/jquery-ui.js"></script>
		<!-- Bootstrap 3.3.7 -->
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- FastClick -->
		<script src="/bower_components/fastclick/lib/fastclick.js"></script>
		<!-- AdminLTE App -->
		<script src="/dist/js/adminlte.min.js"></script>
		<!-- Sparkline -->
		<script src="/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
		<!-- jvectormap  -->
		<script src="/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
		<script src="/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
		<!-- SlimScroll -->
		<script src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
		<!-- ChartJS -->
		<script src="/bower_components/chart.js/Chart.js"></script>
		<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
		<script src="/dist/js/pages/dashboard2.js"></script>
		<script src="/custom/js/jquery.serializejson.js"></script>
		<script src="/custom/js/jquery.tabletojson.js"></script>
		<script src="/custom/js/jquery.tabletojson.min.js"></script>
		<script src="/plugins/iOS-Overlay/js/modernizr-2.0.6.min.js"></script>
		<script src="/plugins/iOS-Overlay/js/iosOverlay.js"></script>
		<script src="/plugins/iOS-Overlay/js/spin.min.js"></script>
		<script src="/plugins/iOS-Overlay/js/prettify.js"></script>
		
		<!-- AdminLTE for demo purposes -->
		<script src="/dist/js/demo.js"></script>
		<script src="/custom/js/common.js"></script>
  </div>
</body>
</html>