<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="header::cssfragment">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header th:replace="header::mainheader(${notifications}, ${tasks}, ${carets}, ${userWrapper.getUser()})" class="main-header">
  </header>
  <!-- Left side column. contains the logo and sidebar -->
 <aside th:replace="header::mainsider(${userWrapper})" class="main-sidebar">
 </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        仪表盘
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">仪表盘</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
		<div class="row">
			<div class="box box-info">
				<div class="box-header">
					<h3 class="box-title">用户信息</h3>
				</div>
				<div class="box-body">
					<p th:text="'用户是否是系统管理员:' +(${userWrapper.isSystemAdmin()} == true? '是' : '否')">测试2</p>
					<p th:text="'用户是否是租户管理员:' +(${userWrapper.isTenantAdmin()} == true? '是' : '否')">测试2</p>
					<p th:text="${notifications}"></p>
					<p th:text="${tasks}"></p>
					<p th:text="${userWrapper}"></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="box box-info">
				<div class="box-body">
					<ul class="products-list todo-list ui-sortable">
						<li class="item">
							<div style="margin-left:10px;" class="product-img">
								<img src="dist/img/default-50x50.gif" />
							</div>
							<div class="product-info">
								<a href="#" class="product-title">
									雕花木床
									<span class="label label-info">3526156152</span>
								</a>
								<span class="pull-right fa fa-trash-o"></span>
								<span class="product-description">双虎家私 -  红木 - 红色 - 床具</span>
								<span class="label label-warning ">￥5000</span>
								<div class="btn-group pull-right">
										<button type="button" class="btn btn-default btn-xs number-minus"><i class="fa fa-minus"></i></button>
										<input class="btn btn-default btn-xs number" style="width:34px;" value="1">
										<button type="button" class="btn btn-default btn-xs number-plus"><i class="fa fa-plus"></i></button>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="footer::footer">
  </footer>

</div>
<!-- ./wrapper -->

<div th:include="header::jsfragment"></div>
</body>
</html>
