<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>云库家具门店管理系统</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <!-- Common style -->
  <link rel="stylesheet" href="custom/css/common.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>云库</b><small>家具门店管理系统</small></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <h3 class="login-box-msg">登录</h3>
	<label style="color:red" id="error" th:text="${loginError}?'用户名或密码错误，请重试' : ''" class="error"></label>
    <form th:action="@{/login}" method="post">
      <div class="form-group has-feedback">
      	<label>用户名</label>
        <input type="text" name="username" id="username" class="form-control" placeholder="用户名" th:value="${username}">
      </div>
      <div class="form-group has-feedback">
      	<label>密码</label>
        <input type="password" name="password" id="pwd" class="form-control">
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox">
              <label><input type="checkbox" value=""> 记住密码</label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="button" class="btn btn-success btn-block btn-flat">登录</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

	<!-- 
    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-weixin"></i> 微信登录</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-weibo"></i> 微博登录</a>
    </div>
     -->
    <!-- /.social-auth-links -->

    <a href="#" style="display:block;margin-bottom:5px;margin-top:10px;">忘记密码</a>
    <a href="register" style="display:block;">注册</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Common script -->
<script src="custom/js/common.js"></script>
<script type="text/javascript">
	$(function() {
		$("button").click(function(event) {
			var username = $("#username").val();
			var pwd = $("#pwd").val();
			$("#error").text("");
			if (!checkUsername(username)) {
				$("#error").text("用户名必须为6到15位数字、字母组成");
				event.preventDefault();
			} else if (!checkPassword(pwd)) {
				$("#error").text("密码不能包含非法字符，长度4-10之间");
				event.preventDefault();
			} else {
				$("form").submit();
			}
		});
	});
</script>
</body>
</html>
