<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="header::cssfragment">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header th:replace="header::mainheader(${notifications}, ${tasks}, ${carets}, ${userWrapper.getUser()})" class="main-header">
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="header::mainsider(${userWrapper})" class="main-sidebar">
  </aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        修改订单
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-file"></i> 首页</a></li>
        <li>订单</li>
        <li class="active">修改订单</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<p id="errormsg" style="color:red;" th:text="(${error} != null) ? ${error} : ''"></p>
    	</div>
    	<div th:if="${order} != null" class="row">
    		<div class="box box-info">
    			<div class="box-header">
    				<h3 class="box-title">订单信息</h3>
    			</div>
    			<div class="box-body">
    				<table id="order_desc" class="table table-striped">
    					<tbody>
    						<tr class="hide">
    							<td>订单ID</td>
    							<td name="id" th:text="${order.id}"></td>
    						</tr>
    						<tr>
    							<td>订单号</td>
    							<td name="orderNo" th:text="${order.orderNo}"></td>
    						</tr>
    						<tr>
    							<td>订单状态</td>
    							<td th:text="${order.getStateStr()}"></td>
    						</tr>
    						<tr class="hide">
    							<td>订单状态</td>
    							<td name="state" th:text="${order.state}"></td>
    						</tr>
    						<tr>
    							<td>定金</td>
    							<td name="payment" th:text="${order.payment}"></td>
    						</tr>
    						<tr class="hide">
    							<td>版本号</td>
    							<td name="version" th:text="${order.version}"></td>
    						</tr>
    					</tbody>
    				</table>
    			</div>
    		</div>
    	</div>
		<!-- row -->
		<div th:if="(${order} != null)" class="row">
			<div class="box box-warning">
				<div class="box-header with-border">
					<h3 class="box-title">客户信息</h3>
				</div>
				<div class="box-body">
					<ul class="nav nav-tabs">
						<li id="newCustomerNav"><a href="#new_customer_tab" data-toggle="tab">新客户</a></li>
						<li id="oldCustomerNav" class="active"><a href="#old_customer_tab" data-toggle="tab">老客户</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane" id="new_customer_tab">
							<form>
								<div class="form-group">
									<label>姓名</label>
									<input type="text" class="form-control" name="name" />
								</div>
								<div class="form-group">
									<label>电话</label>
									<input type="number" class="form-control" name="phone" />
								</div>
								<div class="form-group">
									<label>地址</label>
									<input type="text" class="form-control" name="address" />
								</div>
								<div class="form-group">
									<label>生日</label>
									<input type="date" class="form-control" name="birthday" />
								</div>
								<div class="form-group">
									<label style="display:block;">性别</label>
									<div class="radio-inline">
										<label>
											<input type="radio" name="sex" value="0" checked />
											男
										</label>
									</div>
									<div class="radio-inline">
										<label>
											<input type="radio" name="sex" value="1" />
											女
										</label>
									</div>
								</div>
							</form>
						</div>
						<div class="tab-pane active" id="old_customer_tab" >
							<div class="input-group" style="margin-top:10px;margin-bottom:10px;">
								<input type="text" class="form-control" name="searchkey" placeholder="客户姓名、电话">
								<span class="input-group-btn"><button type="button" name="searchbtn" class="btn btn-flat btn-success"><span class="fa fa-search"></span></button></span>
							</div>
							<div style="position:absolute;">
									<ul id="customer_list" class="list-group" style="display:none;"></ul>
							</div>
							<table th:with="customer=${order.customer}" style="" class="table table-striped">
								<tbody th:if="${customer} != null">
									<tr class="hide">
										<td>客户ID</td>
										<td name="id" th:text="${customer.id}"></td>
									</tr>
									<tr>
										<td>姓名</td>
										<td><b name="name" th:text="${customer.name}"></b></td>
									</tr>
									<tr>
										<td>电话</td>
										<td><b name="phone" th:text="${customer.phone}"></b></td>
									</tr>
									<tr>
										<td>地址</td>
										<td><b name="address" th:text="${customer.address}"></b></td>
									</tr>
									<tr>
										<td>生日</td>
										<td><b name="birthday" th:text="${customer.getBirthdayStr()}"></b></td>
									</tr>
									<tr>
										<td>性别</td>
										<td><b name="sexStr" th:text="${customer.getSexStr()}"></b></td>
									</tr>
									<tr class="hide">
										<td>性别</td>
										<td name="sex" th:text="${customer.sex}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div th:if="(${order} != null)" class="row">
			<div class="box box-warning">
				<div class="box-header with-border">
					<h3 class="box-title">收货人信息</h3>
					<a id="auto_fill_btn" class="btn btn-default btn-sm btn-flat pull-right">自动填充</a>
				</div>
				<div class="box-body" th:with="consignee=${order.consignee}">
					<form id="consignee">
						<div class="form-group">
							<label>姓名</label>
							<input type="text" class="form-control" name="name" th:value="${consignee.name}"/>
						</div>
						<div class="form-group">
							<label>电话</label>
							<input type="number" class="form-control" name="phone"  th:value="${consignee.phone}"/>
						</div>
						<div class="form-group">
							<label>地址</label>
							<input type="text" class="form-control" name="address"  th:value="${consignee.address}"/>
						</div>
						<div class="form-group">
							<label>送货时间</label>
							<input type="date" class="form-control" name="deliveryTime"  th:value="${consignee.getDeliveryTimeStr()}"/>
						</div>
						<div class="form-group">
							<label>备注</label>
							<textarea rows="3" class="form-control" name="remark" th:value="${consignee.remark}" ></textarea>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<div th:if="(${order} != null)" class="row">
			<div class="box box-warning">
				<div class="box-header with-border">
					<h3 class="box-title">带单人信息</h3>
					<a id="add_introductor_btn" class="btn btn-default btn-sm btn-flat pull-right"><span class="fa fa-plus"></span></a>
				</div>
				<div class="box-body" id="introductor" th:with="introductor=${order.introductor}">
					<form id="introductor">
						<div class="form-group">
							<label>姓名</label>
							<input type="text" class="form-control" name="name" th:value="(${introductor} != null) ? ${introductor.name} : ''">
						</div>
						<div class="form-group">
							<label>电话</label>
							<input type="number" class="form-control" name="phone" th:value="(${introductor} != null) ? ${introductor.phone} : ''">
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<div th:if="${order} != null" class="row">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">商品汇总</h3>
					<a href="#set_total" data-toggle="modal" class="btn btn-default btn-sm btn-flat pull-right">设置总价</a>
				</div>
				<div id="order_info" class="box-body">
					<table class="table table-striped no-padding">
						<tbody>
							<tr>
								<th>总金额</th>
								<th>商品数量</th>
							</tr>
							<tr>
								<td name="total" th:text="${order.total}"></td>
								<td name="number" th:text="${order.getItemNumber()}"></td>
							</tr>
						</tbody>
					</table>
					<div class="form-group">
						<label>备注</label>
						<textarea class="form-control" style="background-color:#fff;" readonly name="remark" th:value="${order.remark}">无</textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="row" th:if="${order} != null">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">商品列表</h3>
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-default btn-flat btn-sm dropdown-toggle" data-toggle="dropdown">添加  <span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a data-toggle="modal"><span class="fa fa-qrcode"></span>二维码</a></li>
							<li><a data-toggle="modal" href="#select_product"><span class="fa fa-search"></span>搜索</a></li>
						</ul>
					</div>
				</div>
				<div class="box-body">
					<ul class="products-list product-list-in-box" id="product_list">
						<li th:if="${order.items} != null" th:each="item : ${order.items}" class="item">
							<div class="product-img">
								<img src="/dist/img/default-50x50.gif">
							</div>
							<div th:inline="text" class="product-info">
								<div class="hide">
									<p name="id" th:text="${item.product.id}"></p>
								</div>
								<div class="hide">
									<p name="type" th:text="${item.product.type}"></p>
								</div>
								<div>
									<a class="product-title" name="name" th:text="${item.product.name}"></a>
									<span class="label label-info" name="identifier" th:text="${item.identifier}"></span>
									<a><span name="deletebtn" class="fa fa-trash-o pull-right"></span></a>
								</div>
								<span name="introduction" class="product-description" th:text="${item.product.introduction}"></span>
								<div style="display:inline;">
									<span >￥</span>
									<span name="price" class="label label-warning" th:text="${item.price}"></span>
								</div>
								<div class="btn-group pull-right">
									<button name="minusbtn" type="button" class="btn btn-default btn-xs number-minus"><i class="fa fa-minus"></i></button>
									<input name="number" class="btn btn-default btn-xs number" style="width:34px;" value="1" th:value="${item.number}">
									<button name="plusbtn" type="button" class="btn btn-default btn-xs number-plus"><i class="fa fa-plus"></i></button>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="box box-default">
				<div class="box-header with-border">
					<button type="button" class="btn btn-default btn-flat">取消</button>
					<button id="submit" type="button" class="btn btn-success btn-flat pull-right">确定</button>
				</div>
			</div>
		</div>
		<!-- /.row -->
		<div class="modal fade" id="select_product">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="model-title">选择商品</h4>
					</div>
					<div class="modal-body">
						<div>
							<p id="search_error" style="color:red;"></p>
						</div>
						<div class="input-group">
							<input type="text" name="searchkey" placeholder="商品编号、名称" class="form-control" />
							<span class="input-group-btn">
								<button type="button" name="searchbtn" class="btn btn-success btn-flat"><span class="fa fa-search"></span></button>
							</span>
						</div>
						<div class="search-result">
							<ul name="product_list" class="products-list"></ul>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-flat" data-dismiss="modal">关闭</button>
						<button name="confirm" type="button" class="btn btn-success btn-flat" data-dismiss="modal">选定</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="set_total">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="model-title">设置价格</h4>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label>价格</label>
								<input type="number" name="total" class="form-control">
							</div>
							<div class="form-group">
								<label>备注</label>
								<textarea class="form-control" name="remark" rows="3"></textarea>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" data-dismiss="modal" class="btn btn-default btn-flat">取消</button>
						<button name="confirm" type="button" data-dismiss="modal" class="btn btn-success btn-flat pull-right">确定</button>
					</div>
				</div>
			</div>
		</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="footer::footer">
  </footer>

</div>
<!-- ./wrapper -->

<div th:include="header::jsfragment"></div>
<script src="/custom/js/product.js"></script>
<script th:inline="javascript" type="text/javascript">
	$(function() {
		$("#introductor").hide();
		
		$("#add_introductor").on("click", function() {
			if ($("#introductor").is(":visible")) {
				$("#introductor").hide();
				$("#add_introductor span").removeClass("fa-minus");
				$("#add_introductor span").addClass("fa-plus");
			} else {
				$("#introductor").show();
				$("#add_introductor span").removeClass("fa-plus");
				$("#add_introductor span").addClass("fa-minus");
			}
		});
		
		// 以下获取老客户数据
		var customers = {};
		function select_customer(event) {
			var id = $(event.target).children("span").text();
			if (customers == null) {
				alert("搜索结果为空");
				return;
			}
			for (var i = 0; i < customers.length; i++) {
				var customer = customers[i];		
				if (customer.id == id) {
					$("#old_customer_tab [name='id']").text(customer.id);
					$("#old_customer_tab [name='name']").text(customer.name);
					$("#old_customer_tab [name='address']").text(customer.address);
					$("#old_customer_tab [name='phone']").text(customer.phone);
					$("#old_customer_tab [name='sexStr']").text(customer.sex == 0 ? "男" : "女");
					$("#old_customer_tab [name='birthday']").text(customer.birthday);
					$("#old_customer_tab [name='sex']").text(customer.sex);
					$("#old_customer_tab table").slideDown();
					$("#customer_list").slideUp();
					break
				}
			}
		}
		$("#old_customer_tab [name='searchbtn']").on("click", function () {
			var content = $("#old_customer_tab [name='searchkey']").val();
			if (content == null || content.length == 0) {
				$("#errormsg").text("请输入客户姓名或电话后在进行搜索");
				return;
			}
			$.get("/order/searchcustomer/" + content, {}, function(data) {
				$("#customer_list").empty();
				if (data.returnState == "OK") {
					customers = data.returnData.customers;
					for (var i = 0; i < customers.length; i++) {
						var customer = customers[i];
						var li = $("<li class='list-group-item'>" + customer.name + " " + customer.address + "<span class='hide'>" + customer.id + "</span></li>");
						li.on("click", select_customer);
						$("#customer_list").append(li);
					}
					$("#customer_list").slideDown();
				} else {
					$("#errormsg").text(data.returnMsg);
				}
			});
		});
		
		// 填写收货人信息
		$("#auto_fill_btn").on("click", function () {
			if ($("#newcustomernav").hasClass("active")) {
				$("#consignee [name='name']").val($("#new_customer_tab [name='name']").val());
				$("#consignee [name='address']").val($("#new_customer_tab [name='address']").val());
				$("#consignee [name='phone']").val($("#new_customer_tab [name='phone']").val());
			} else {
				$("#consignee [name='name']").val($("#old_customer_tab [name='name']").text());
				$("#consignee [name='address']").val($("#old_customer_tab [name='address']").text());
				$("#consignee [name='phone']").val($("#old_customer_tab [name='phone']").text());
			}
		});
		
		// 手动设置金额
		$("#set_total [name='confirm']").on("click", function () {
			$("#order_info [name='total']").text($("#set_total [name='total']").val());
			$("#order_info [name='remark']").text($("#set_total [name='remark']").val());
		});
		
		// 商品列表相关函数
		function search_product(event) {
			$("#errormsgsub").text("");
			var content = $("#select_product [name='searchkey']").val();
			if (content == null || content.length == 0) {
				$("#errormsgsub").text("搜索商品时请输入商品编号或名称");
				return;
			}
			
			$.get("/product/search/" + content, {},
				function (data) {
					if (data.returnState == "OK") {
						$("#select_product [name='product_list']").empty();
						var products = data.returnData.products;
						for (var i = 0; i < products.length; i++) {
							var item = create_editable_product_item(products[i]);
							item.find("[name='deletebtn']").hide();
							$("#select_product [name='product_list']").append(item);
						}
					} else {
						$("#errormsgsub").text(data.returnMsg);
					}
				}		
			);
		}
		function select_product_item(event) {
			var items = $("#select_product [name='product_list']").children();
			for (var i = 0; i < items.length; i++) {
				var item = $(items[i]);
				var input = item.find("[name='number']");
				if (parseInt(input.val()) > 0) {
					var clone = item.clone(true);
					clone.find("[name='deletebtn']").show();
					clone.find("[name='deletebtn']").on("click", deleteProductItem);
					$("#product_list").append(clone);
				}
			}
			$("#select_product [name='product_list']").empty();
			$("#errormsgsub").text();
		}
		$("[name='minusbtn']").on("click", descProductNum);
		$("[name='plusbtn']").on("click", incrProductNum);
		$("[name='deletebtn']").on("click", deleteProductItem);
		$("#select_product [name='searchbtn']").on("click", search_product);
		$("#select_product [name='confirm']").on("click", select_product_item);

		// 提交订单
		$("#submit").on("click", function () {
			var param = new Object();
			// 客户数据
			if ($("#newcustomernav").hasClass("active")) {
				var customer = $("#new_customer_tab form").serializeJSON();
				param.customer = customer;
			} else {
				var customer = new Object();
				customer.id = $("#old_customer_tab [name='id']").text();
				customer.name = $("#old_customer_tab [name='name']").text();
				customer.address = $("#old_customer_tab [name='address']").text();
				customer.phone = $("#old_customer_tab [name='phone']").text();
				customer.birthday = $("#old_customer_tab [name='birthday']").text();
				customer.sex = $("#old_customer_tab [name='sex']").text();
				param.customer = customer;
			}
			
			// 收货人数据
			var receiver = new Object();
			receiver.name = $("#consignee [name='name']").val();
			receiver.phone = $("#consignee [name='phone']").val();
			receiver.address = $("#consignee [name='address']").val();
			receiver.deliveryTime = $("#consignee [name='deliveryTime']").val();
			receiver.remark=$("#consignee [name='remark']").val();
			param.consignee = receiver;

			// 带单人数据
			var introducer_name = $("#introductor [name='name']").val();
			var introducer_phone = $("#introductor [name='phone']").val();
			if (introducer_name == null || introducer_name.length == 0 ||
					introducer_phone == null || introducer_phone.length == 0) {
				param.introductor == null;
			} else {
				var introductor = new Object();
				introductor.name = introducer_name;
				introductor.phone = introducer_phone;
				param.introductor = introductor;
			}
			
			// 商品数据（汇总+商品列表）
			param.id = $("#order_desc [name='id']").text();
			param.total = $("#order_info [name='total']").text();
			param.remark = $("#order_info [name='remark']").val();
			param.orderNo = $("#order_desc [name='orderNo']").text();
			param.state = $("#order_desc [name='state']").text();
			param.version = $("#order_desc [name='version']").text();
			var productset = [];
			var products = $("#product_list").children();
			for (var i = 0; i < products.length; i++) {
				var product = products[i];
				var item = new Object();
				item.identifier = $(product).find("[name='identifier']").text();
				item.number = $(product).find("[name='number']").val();
				item.price = $(product).find("[name='price']").text();
				productset[i] = item;
			}
			param.items = productset;
			
			// 提交
			alert(JSON.stringify(param));
			$.ajax({
				type:"POST",
				url:"/order/update",
				data:JSON.stringify(param),
				dataType:"json",
				contentType:"application/json",
				success: function(data) {
					if (data.returnState == "OK") {
						window.location = "/order_detail/" + data.returnData.orderno;
					} else {
						$("#errormsg").text(data.returnMsg);
					}
				}
			});
		});
	});
</script>
</body>
</html>
