<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="header::cssfragment">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header th:replace="header::mainheader(${notifications}, ${tasks}, ${carets}, ${userWrapper.getUser()})" class="main-header">
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="header::mainsider(${userWrapper})" class="main-sidebar">
  </aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 th:text="${title}">
        未完成订单
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li>订单</li>
        <li class="active" th:text="${title}">未完成订单</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<p id="errormsg" style="color:red;" th:text="(${error} != null) ? ${error} : ''"></p>
    	</div>
		<div class="row">
			<div class="box box-info">
				<div class="box-header">
					<h3 class="box-title">订单列表 <small id="count">0/0</small></h3>
				</div>
				<div class="box-body">
					<div class="input-group" style="margin-bottom:10px;">
						<input type="text" name="searchkey" placeholder="订单号、客户名或客户电话" class="form-control">
						<span class="input-group-btn">
							<button id="searchbtn" type="button" class="btn btn-success btn-flat"><span class="fa fa-search"></span></button>
						</span>
					</div>
					<div id="order_list">
						<table id="list_table" class="table table-striped">
							<thead>
								<tr>
									<th>订单号</th>
									<th>客户</th>
									<th>电话</th>
									<th>下单日期</th>
								</tr>
							</thead>
							<tbody id="orderlist">
							</tbody>
						</table>
					</div> 
				</div>
				<div class="box-footer text-center">
					<a id="querymore">查看更多</a>
				</div>
			</div>
		</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="footer::footer">
  </footer>
</div>
<!-- ./wrapper -->

<div th:include="header::jsfragment"></div>
<script th:inline="javascript" type="text/javascript">
	$(function() {

		var sum = 0;
		function redirect(event) {
			var orderNo = $(event.target).closest("tr").find("td:eq(0)").text();
			window.location = "/order_detail/" + orderNo;
		}
		function create_item(order) {
			var item = $('<tr><td>' + order.orderNo + '</td><td>' + order.consignee.name + '</td><td>' + order.consignee.phone + '</td><td>' + order.createTime + '</td></tr>');
			item.on("click", redirect);
			return item;
		}
		function fecthOrders(start, size) {
			$.get("/order/uncomplete/" + start + "/" + size, {}, function (data) {
				$("#orderlist").empty();
				$("#errormsg").text("");
				if (data.returnState == "OK") {
					var orders = data.returnData.orders;
					for (var i = 0; i < orders.length; i++) {
						order = orders[i];
						$("#orderlist").append(create_item(order));
						sum += 1;
					}
					$("#count").text(sum + "/" + data.returnData.count);
					if (sum >= data.returnData.count) {
						$("#querymore").hide();
					} else {
						$("#querymore").show();
					}
				} else {
					$("#errormsg").text(data.returnMsg);
				}
			});
		}
		function search() {
			var content = $("#searchkey").val();
			if (content == null || content.length == 0) {
				$("#errormsg").text("请输入订单号或客户姓名、电话后再进行搜索");
				return;
			}
			
			$.get("/order/search/uncomplete/" + content, {}, function (data) {
				sum = 0;
				$("#errormsg").text("");
				$("#orderlist").empty();
				if (data.returnState == "OK") {
					var orders = data.returnData.orders;
					for (var i = 0; i < orders.length; i++) {
						order = orders[i];
						$("#orderlist").append(create_item(order));
						sum += 1;
					}
					$("#count").text(sum + "/" + data.returnData.count);
					if (sum >= data.returnData.count) {
						$("#querymore").hide();
					} else {
						$("#querymore").show();
					}
				} else {
					$("#errormsg").text(data.returnMsg);
				}
			});
		}

		// 拉去更多订单信息
		fecthOrders(0, 15);
		$("#querymore").on("click", function () {
			fecthOrders(sum, 15);
		});
		$("#searchbtn").on("click", search);
	});
</script>
</body>
</html>
