<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="header::cssfragment">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header th:replace="header::mainheader(${notifications}, ${tasks}, ${carets}, ${userWrapper.getUser()})" class="main-header">
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="header::mainsider(${userWrapper})" class="main-sidebar">
  </aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        订单详情
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li>订单</li>
        <li class="active">订单详情</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<p id="errormsg" style="color:red;" th:text="(${error} != null) ? ${error} : ''"></p>
    	</div>
    	<div class="row" th:if="${order} != null">
    		<div class="box box-info">
    			<div class="box-header with-border">
    				<h3 class="box-title" th:text="'订单号：' + ${order.orderNo}"></h3>
    			</div>
    			<div class="box-body">
    				<table class="table table-striped">
    					<tbody>
    						<tr>
    							<td>订单状态</td>
    							<td th:text="${order.getStateStr()}"></td>
    						</tr>
    						<tr>
    							<td>送货时间</td>
    							<td th:text="${order.consignee.getDeliveryTimeStr()}"></td>
    						</tr>
    						<tr>
    							<td>送货地址</td>
    							<td th:text="(${order.consignee} != null) ? ${order.consignee.address} : ''"></td>
    						</tr>
    						<tr>
    							<td>销售员</td>
    							<td><span th:text="(${order.guider} != null) ? ${order.guider.participantName} : ''"></span><span class="label label-info" th:text="(${order.guider} != null) ? ${order.guider.participantPhone} : ''"></span></td>
    						</tr>
    						<tr>
    							<td>带单人</td>
    							<td><span th:text="(${order.introductor} != null) ? ${order.introductor.name} : ''"></span><span class="label label-info" th:text="(${order.introductor} != null) ? ${order.introductor.phone} : ''"></span></td>
    						</tr>
    						<tr>
    							<td>送货员</td>
    							<td><span th:text="(${order.deliveryer} != null) ? ${order.deliveryer.participantName} : ''"></span><span class="label label-info" th:text="(${order.deliveryer} != null) ? ${order.deliveryer.participantPhone} : ''"></span></td>
    						</tr>
    					</tbody>
    				</table>
    			</div>
    		</div>
    	</div>
    	<div class="row" th:if="(${order} != null) and (${order.customer} != null)">
    		<div class="box box-info">
    			<div class="box-header with-border">
    				<h3 class="box-title">客户信息</h3>
    			</div>
    			<div class="box-body">
    				<table class="table table-striped">
    					<tbody>
    						<tr>
    							<td>姓名</td>
    							<td th:text="${order.customer.name}"></td>
    						</tr>
    						<tr>
    							<td>电话</td>
    							<td th:text="${order.customer.phone}"></td>
    						</tr>
    						<tr>
    							<td>住址</td>
    							<td th:text="${order.customer.address}"></td>
    						</tr>
    						<tr>
    							<td>生日</td>
    							<td th:text="${order.customer.getBirthdayStr()}"></td>
    						</tr>
    					</tbody>
    				</table>
    			</div>
    		</div>
    	</div>
    	<div class="row" th:if="(${order} != null) and (${order.consignee} != null)">
    		<div class="box box-info">
    			<div class="box-header with-border">
    				<h3 class="box-title">收货人信息</h3>
    			</div>
    			<div class="box-body">
    				<table class="table table-striped">
    					<tbody>
    						<tr>
    							<td>姓名</td>
    							<td th:text="${order.consignee.name}"></td>
    						</tr>
    						<tr>
    							<td>电话</td>
    							<td th:text="${order.consignee.phone}"></td>
    						</tr>
    						<tr>
    							<td>地址</td>
    							<td th:text="${order.consignee.address}"></td>
    						</tr>
    					</tbody>
    				</table>
    			</div>
    		</div>
    	</div>
    	<div class="row" th:if="${order} != null">
    		<div class="box box-info">
    			<div class="box-header with-border">
    				<h3 class="box-title">商品汇总</h3>
    			</div>
    			<div class="box-body">
    				<table class="table table-striped">
    					<tbody>
    						<tr>
    							<th>总金额</th>
    							<th>商品数量</th>
    						</tr>
    						<tr>
    							<td th:text="${order.total}"></td>
    							<td th:text="${order.getItemNumber()}"></td>
    						</tr>
							<tr>
								<td colspan="3" th:text="${order.remark}">
								</td>
							</tr>
    					</tbody>
    				</table>
    			</div>
    		</div>
    	</div>
    	<div class="row">
    		<div class="box box-info">
    			<div class="box-header with-border">
    				<h3 class="box-title">商品列表</h3>
    			</div>
    			<div class="box-body">
 					<ul class="products-list product-list-in-box" id="product_list">
						<li th:if="${order.items} != null" th:each="item : ${order.items}" class="item">
							<div class="product-img">
								<img src="/dist/img/default-50x50.gif">
							</div>
							<div th:inline="text" class="product-info">
								<div class="hide">
									<p name="id" th:text="${item.product.id}"></p>
								</div>
								<div class="hide">
									<p name="type" th:text="${item.product.type}"></p>
								</div>
								<div>
									<a class="product-title" name="name" th:text="${item.product.name}"></a>
									<span class="label label-info" name="identifier" th:text="${item.identifier}"></span>
								</div>
								<span name="introduction" class="product-description" th:text="${item.product.introduction}"></span>
								<div style="display:inline;">
									<span >￥</span>
									<span name="price" class="label label-warning" th:text="${item.price}"></span>
								</div>
								<div class="btn-group pull-right">
									<input name="number" class="btn btn-default btn-xs number" style="width:34px;" value="1" th:value="${item.number}">
								</div>
							</div>
						</li>
					</ul>
    			</div>
    		</div>
    	</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="footer::footer">
  </footer>

</div>
<!-- ./wrapper -->

<div th:include="header::jsfragment"></div>
</body>
</html>
