<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="header::cssfragment">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header th:replace="header::mainheader(${notifications}, ${tasks}, ${carets}, ${userWrapper.getUser()})" class="main-header">
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="header::mainsider(${userWrapper})" class="main-sidebar">
  </aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       订单出库
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-file"></i> 首页</a></li>
        <li>订单</li>
        <li class="active">订单出库</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<p id="errormsg" style="color:red;" th:text="(${error} != null) ? ${error} : ''"></p>
    	</div>
		<!-- row -->
		<div class="row">
			<div class="box box-warning">
				<div class="box-header with-border">
					<h3 class="box-title">订单信息</h3>
				</div>
				<div class="box-body">
					<table class="table table-striped">
						<tbody>
							<tr th:if="${limit['orderNo']}" >
								<td>订单号</td>
								<td><b id="order_orderNo" th:text="${order.orderNo}"></b></td>
							</tr>
							<tr th:if="${limit['state']}">
								<td>订单状态</td>
								<td><b th:text="${order.getStateStr()}"></b></td>
							</tr>
							<tr class="hide" th:if="${limit['state']}">
								<td>订单状态</td>
								<td><b id="order_state" th:text="${order.state}"></b></td>
							</tr>
							<tr th:if="${limit['version']}" class="hide">
								<td>版本号</td>
								<td id="order_version" th:text="${order.version}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="row" th:if="${limit['consignee']}">
			<div class="box box-warning">
				<div class="box-header with-border">
					<h3 class="box-title">收货人信息</h3>
				</div>
				<div class="box-body">
					<table class="table table-striped">
						<tr>
							<td>姓名</td>
							<td th:text="${order.consignee.name}"></td>
						</tr>
						<tr>
							<td>电话</td>
							<td th:text="${order.consignee.phone}"></td>
						</tr>
						<tr>
							<td>地址</td>
							<td th:text="${order.consignee.address}"></td>
						</tr>
						<tr>
							<td>配送时间</td>
							<td th:with="deliveryTime=${order.consignee.deliveryTime}" th:text="${#calendars.format(deliveryTime, 'yyyy/MM/dd')}"></td>
						</tr>
						<tr>
							<td>备注</td>
							<td th:text="${order.consignee.remark}"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		
 		<div class="row" th:if="${limit['deliveryer']}">
 			<div class="box box-warning">
 				<div class="box-header with-border">
 					<h3 class="box-title">送货员</h3>
 				</div>
 				<div class="box-body">
 					<table class="table table-striped">
 						<tr>
 							<td>姓名</td>
 							<td th:text="${order.deliveryer.participantName}"></td>
 						</tr>
 						<tr>
 							<td>电话</td>
 							<td th:text="${order.deliveryer.participantPhone}"></td>
 						</tr>
 					</table>
 				</div>
 			</div>
 		</div>
 		
 		<div class="row" th:if="${limit['installer']}">
 			<div class="box box-warning">
 				<div class="box-header with-border">
 					<h3 class="box-title">安装工</h3>
 				</div>
 				<div class="box-body">
 				 	<table class="table table-striped">
 						<tr>
 							<td>姓名</td>
 							<td th:text="${order.installer.participantName}"></td>
 						</tr>
 						<tr>
 							<td>电话</td>
 							<td th:text="${order.installer.participantPhone}"></td>
 						</tr>
 					</table>
 				</div>
 			</div>
 		</div>
		
		<div class="row" th:if="${limit['remark']} and ${limit['items']}">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">商品汇总</h3>
				</div>
				<div class="box-body">
					<table class="table table-striped no-padding">
						<tbody>
							<tr>
								<th>商品数量</th>
							</tr>
							<tr>
								<td th:text="${order.getItemNumber()}"></td>
							</tr>
						</tbody>
					</table>
					<div class="form-group">
						<label>备注</label>
						<textarea class="form-control" style="background-color:#fff;" readonly id="remark" th:value="${order.remark}">无</textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="row" th:if="${limit['items']}">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">商品列表</h3>
				</div>
				<div class="box-body">
					<ul class="products-list product-list-in-box">
						<li th:if="${order.items} != null" th:each="item : ${order.items}" class="item">
							<div class="product-img">
								<img src="/dist/img/default-50x50.gif">
							</div>
							<div th:inline="text" class="product-info">
								<div>
									<a class="product-title" name="name">[[${item.product.name}]]</a>
									<span class="label label-info" name="identifier">[[${item.product.identifier}]]</span>
								</div>
								<span name="introduction" class="product-description">[[${item.product.introduction}]]</span>
								<span name="price" class="label label-warning" style="display:inline;">￥[[${item.price}]]</span>
								<div class="btn-group pull-right">
									<span name="number" th:text="${item.number} + '件'"></span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="box box-default">
				<div class="box-header with-border">
					<button id="cancelbtn" type="button" class="btn btn-default btn-flat">取消</button>
					<button id="confirmbtn" type="button" class="btn btn-success pull-right">出库</button>
				</div>
			</div>
		</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="footer::footer">
  </footer>

</div>
<!-- ./wrapper -->

<div th:include="header::jsfragment"></div>
<script th:inline="javascript" type="text/javascript">
	$(function() {				
		// 取消，回退到上一页
		$("#cancelbtn").on("click", function () {
			historyback();
		});
		
		// 提交订单
		$("#confirmbtn").on("click", function () {
			var param = new Object();
			
			// 订单信息
			param.orderNo = $("#order_orderNo").text();
			param.state = $("#order_state").text();
			param.version = $("#order_version").text();
			
			// 提交
			alert(JSON.stringify(param));
			$.ajax({
				type:"POST",
				url:"/order/storeout",
				data:JSON.stringify(param),
				dataType:"json",
				contentType:"application/json",
				success: function(data) {
					if (data.returnState == "OK") {
						historyback();
					} else {
						$("#errormsg").text(data.returnMsg);
					}
				}
			});
		});
	});
</script>
</body>
</html>
