<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="header::cssfragment">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header th:replace="header::mainheader(${notifications}, ${tasks}, ${carets}, ${userWrapper.getUser()})" class="main-header">
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="header::mainsider(${userWrapper})" class="main-sidebar">
  </aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       审核订单
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-file"></i> 首页</a></li>
        <li>订单</li>
        <li class="active">审核订单</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<p id="errormsg" style="color:red;" th:text="(${error} != null) ? ${error} : ''"></p>
    	</div>
		<!-- row -->
		<div class="row">
			<div class="box box-warning">
				<div class="box-header with-border">
					<h3 class="box-title">订单信息</h3>
				</div>
				<div class="box-body">
					<table class="table table-striped">
						<tbody>
							<tr th:if="${limit['orderNo']}" >
								<td>订单号</td>
								<td><b id="order_orderNo" th:text="${order.orderNo}"></b></td>
							</tr>
							<tr th:if="${limit['state']}">
								<td>订单状态</td>
								<td><b th:text="${order.getStateStr()}"></b></td>
							</tr>
							<tr class="hide" th:if="${limit['state']}">
								<td>订单状态</td>
								<td><b id="order_state" th:text="${order.state}"></b></td>
							</tr>
							<tr th:if="${limit['payment']}">
								<td>已收款</td>
								<td><b id="order_payment" th:text="${order.payment}"></b></td>
							</tr>
							<tr th:if="${limit['version']}" class="hide">
								<td>版本号</td>
								<td id="order_version" th:text="${order.version}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="row" th:if="${limit['guider']}">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">导购员</h3>
				</div>
				<div class="box-body">
					<table class="table table-striped">
						<tr class="hide">
							<td>ID</td>
							<td th:text="${order.guider.participantId}"></td>
						</tr>
						<tr>
							<td>姓名</td>
							<td th:text="${order.guider.participantName}"></td>
						</tr>
						<tr>
							<td>电话</td>
							<td th:text="${order.guider.participantPhone}"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		
		<div class="row" th:if="${limit['consignee']}">
			<div class="box box-warning">
				<div class="box-header with-border">
					<h3 class="box-title">收货人信息</h3>
				</div>
				<div class="box-body">
					<table class="table table-striped">
						<tr>
							<td>姓名</td>
							<td th:text="${order.consignee.name}"></td>
						</tr>
						<tr>
							<td>电话</td>
							<td th:text="${order.consignee.phone}"></td>
						</tr>
						<tr>
							<td>地址</td>
							<td th:text="${order.consignee.address}"></td>
						</tr>
						<tr>
							<td>配送时间</td>
							<td th:with="deliveryTime=${order.consignee.deliveryTime}" th:text="${#calendars.format(deliveryTime, 'yyyy/MM/dd')}"></td>
						</tr>
						<tr>
							<td>备注</td>
							<td th:text="${order.consignee.remark}"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		
		<div class="row" th:if="${limit['introductor']} and (${order.introductor} != null)">
			<div class="box box-warning">
				<div class="box-header with-border">
					<h3 class="box-title">带单人信息</h3>
				</div>
				<div class="box-body" id="introductor">
					<form role="form">
						<div class="form-group">
							<label>姓名</label>
							<input type="text" class="form-control" id="introductorname" th:value="${order.introductor.name}">
						</div>
						<div class="form-group">
							<label>电话</label>
							<input type="number" class="form-control" id="introductorphone" th:value="${order.introductor.phone}">
						</div>
					</form>
				</div>
			</div>
		</div>
		
 		<div class="row" th:if="${limit['deliveryer']}">
 			<div class="box box-warning">
 				<div class="box-header with-border">
 					<h3 class="box-title">送货员</h3>
 					<span id="deliverymsg"></span>
 					<div class="input-group" style="margin-top:5px;">
 						<input type="text" class="form-control" id="deliverykey">
 						<span class="input-group-btn">
 							<button id="searchdelivery" class="btn btn-success" type="button">
 								<span class="fa fa-search"></span>
 							</button>
 						</span>
 					</div>
 				</div>
 				<div style="position:absolute;">
					<ul id="deliverylist" class="list-group" style="display:none;">
					</ul>
				</div>
 				<div class="box-body">
 					<div class="hide form-group">
 						<label>用户名</label>
 						<input type="text" class="form-control" id="delivery_username" readonly th:value="(${order.deliveryer} != null) ? ${order.deliveryer.participantId} : ''">
 					</div>
 					<div class="form-group">
 						<label>姓名</label>
 						<input type="text" class="form-control" id="delivery_name" th:value="(${order.deliveryer} != null) ? ${order.deliveryer.participantName} : ''">
 					</div>
 					<div class="form-group">
 						<label>电话</label>
 						<input type="text" class="form-control" id="delivery_phone" th:value="(${order.deliveryer} != null) ?  ${order.deliveryer.participantPhone} : ''">
 					</div>
 					<div class="form-group"> 
 						<label><input type="checkbox" id="delivery_notify" checked> 发送通知</label>
 					</div>
 				</div>
 			</div>
 		</div>
 		
 		<div class="row" th:if="${limit['installer']}">
 			<div class="box box-warning">
 				<div class="box-header with-border">
 					<h3 class="box-title">安装工</h3>
 					<span id="installmsg"></span>
 					<div class="input-group" style="margin-top:5px;">
 						<input type="text" class="form-control" id="installkey">
 						<span class="input-group-btn">
 							<button id="searchinstall" class="btn btn-success" type="button">
 								<span class="fa fa-search"></span>
 							</button>
 						</span>
 					</div>
 				</div>
 				<div style="position:absolute;">
					<ul id="installlist" class="list-group" style="display:none;">
					</ul>
				</div>
 				<div class="box-body">
 					<div class="hide form-group">
 						<label>用户名</label>
 						<input type="text" class="form-control" id="installer_username" readonly th:value="(${order.installer} != null) ? ${order.installer.participantId} : ''">
 					</div>
 					<div class="form-group">
 						<label>姓名</label>
 						<input type="text" class="form-control" id="installer_name" th:value="(${order.installer} != null) ? ${order.installer.participantName} : ''">
 					</div>
 					<div class="form-group">
 						<label>电话</label>
 						<input type="text" class="form-control" id="installer_phone" th:value="(${order.installer} != null) ? ${order.installer.participantPhone} : ''">
 					</div>
 					<div class="form-group">
 						<label><input type="checkbox" id="installer_notify" checked> 发送通知</label>
 					</div>
 				</div>
 			</div>
 		</div>
		
		<div class="row" th:if="${limit['total']} and ${limit['remark']} and ${limit['items']}">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">商品汇总</h3>
					<a href="#set_total" data-toggle="modal" class="btn btn-default btn-sm btn-flat pull-right">设置总价</a>
				</div>
				<div class="box-body">
					<table class="table table-striped no-padding">
						<tbody>
							<tr>
								<th>总金额</th>
								<th>商品数量</th>
							</tr>
							<tr>
								<td id="price" th:text="${order.total}">7000</td>
								<td th:text="${order.getItemNumber()}">2</td>
							</tr>
						</tbody>
					</table>
					<div class="form-group">
						<label>备注</label>
						<textarea class="form-control" style="background-color:#fff;" readonly id="remark" th:value="${order.remark}">无</textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">商品列表</h3>
				</div>
				<div class="box-body">
					<ul class="products-list product-list-in-box">
						<li th:if="${order.items} != null" th:each="item : ${order.items}" class="item">
							<div class="product-img">
								<img src="/dist/img/default-50x50.gif">
							</div>
							<div th:inline="text" class="product-info">
								<div>
									<a class="product-title" name="name">[[${item.product.name}]]</a>
									<span class="label label-info" name="identifier">[[${item.product.identifier}]]</span>
								</div>
								<span name="introduction" class="product-description">[[${item.product.introduction}]]</span>
								<span name="price" class="label label-warning" style="display:inline;">￥[[${item.price}]]</span>
								<div class="btn-group pull-right">
									<span name="number" th:text="${item.number} + '件'"></span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="box box-default">
				<div class="box-header with-border">
					<button id="cancelbtn" type="button" class="btn btn-default btn-flat">取消</button>
					<button id="confirmbtn" type="button" class="btn btn-success pull-right">通过</button>
				</div>
			</div>
		</div>
		<div class="modal fade" id="set_total">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="model-title">设置价格</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>价格</label>
							<input type="number" id="setprice" class="form-control">
						</div>
						<div class="form-group">
							<label>备注</label>
							<textarea class="form-control" id="setremark" rows="3"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" data-dismiss="modal" class="btn btn-default btn-flat">取消</button>
						<button id="setpricebtn" type="button" data-dismiss="modal" class="btn btn-success btn-flat pull-right">确定</button>
					</div>
				</div>
			</div>
		</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="footer::footer">
  </footer>

</div>
<!-- ./wrapper -->

<div th:include="header::jsfragment"></div>
<script th:inline="javascript" type="text/javascript">
	$(function() {		
		// 手动设置金额
		$("#setpricebtn").on("click", function () {
			$("#price").text($("#setprice").val());
			$("#remark").val($("#setremark").val());
		});
		
		var deliverys = {};
		var installers = {};
		function selectdelivery(event) {
			var username = $(event.target).children("span").text();
			for (var i = 0; i < deliverys.length; i++) {
				var user = deliverys[i];
				if (user.username == username) {
					$("#delivery_username").val(user.username);
					$("#delivery_name").val(user.name);
					$("#delivery_phone").val(user.phone);
					break;
				}
			}
			$("#deliverylist").slideUp();
		}
		
		function selectinstall(event) {
			var username = $(event.target).children("span").text();
			for (var i = 0; i < installers.length; i++) {
				var user = installers[i];
				if (user.username == username) {
					$("#installer_username").val(user.username);
					$("#installer_name").val(user.name);
					$("#installer_phone").val(user.phone);
					break;
				}
			}
			$("#installlist").slideUp();
		}
		
		function create_item(user) {
			var li = $("<li class='list-group-item'>" + user.name + " " + user.phone + "<span class='hide'>" + user.username + "</span></li>");
			return li;
		}
		
		$("#searchdelivery").on("click", function () {
			$("#deliverymsg").text("");
			var content = $("#deliverykey").val();
			if (content == null || content.length == 0) {
				$("#deliverymsg").text("请输入用户姓名或电话后再点击搜索");
				return;
			}
			
			$("#deliverylist").slideUp();
			$.get("/order/searchuser/delivery/" + content, {}, function (data) {
				if (data.returnState == "OK") {
					$("#deliverylist").empty();
					var users = data.returnData.users;
					for (var i = 0; i < users.length; i++) {
						var item = create_item(users[i]);
						item.on("click", selectdelivery);
						$("#deliverylist").append(item);
					}
					deliverys = users;
					$("#deliverylist").slideDown();
				}
			});
		});
		
		$("#searchinstall").on("click", function () {
			$("#installmsg").text("");
			var content = $("#installkey").val();
			if (content == null || content.length == 0) {
				$("#installmsg").text("请输入用户姓名或电话后再点击搜索");
				return;
			}
			
			$("#installlist").slideUp();
			$.get("/order/searchuser/install/" + content, {}, function (data) {
				if (data.returnState == "OK") {
					$("#installlist").empty();
					var users = data.returnData.users;
					for (var i = 0; i < users.length; i++) {
						var item = create_item(users[i]);
						item.on("click", selectinstall);
						$("#installlist").append(item);
					}
					
					installers = users;
					$("#installlist").slideDown();
				}
			});
		});
		
		// 取消，回退到上一页
		$("#cancelbtn").on("click", function () {
			historyback();
		});
		
		// 提交订单
		$("#confirmbtn").on("click", function () {
			var param = new Object();
			
			// 订单信息
			param.orderNo = $("#order_orderNo").text();
			param.state = $("#order_state").text();
			param.version = $("#order_version").text();
			
			// 派送人
			var delivery_username = $("#delivery_username").val();
			var delivery_name = $("#delivery_name").val();
			var delivery_phone = $("#delivery_phone").val();
			var delivery = new Object();
			delivery.participantId = delivery_username;
			delivery.participantName = delivery_name;
			delivery.participantPhone = delivery_phone;
			param.deliveryer = delivery;
			var delivery_notify = $("#delivery_notify").prop('checked');
			
			// 安装员
			var installer_username = $("#installer_username").val();
			var installer_name = $("#installer_name").val();
			var installer_phone = $("#installer_phone").val();
			var installer = new Object();
			installer.participantId = installer_username;
			installer.participantName = installer_name;
			installer.participantPhone = installer_phone;
			param.installer = installer;
			var installer_notify = $("#installer_notify").prop('checked');
			
			// 商品数据（汇总+商品列表）
			var total = $("#price").text();
			var remark = $("#remark").val();
			
			// 提交
			alert(JSON.stringify(param));
			$.ajax({
				type:"POST",
				url:"/order/verify/" + delivery_notify + "/" + installer_notify,
				data:JSON.stringify(param),
				dataType:"json",
				contentType:"application/json",
				success: function(data) {
					if (data.returnState == "OK") {
						historyback();
					} else {
						$("#errormsg").text(data.returnMsg);
					}
				}
			});
		});
	});
</script>
</body>
</html>
