<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="header::cssfragment">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header th:replace="header::mainheader(${notifications}, ${tasks}, ${carets}, ${userWrapper.getUser()})" class="main-header">
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="header::mainsider(${userWrapper})" class="main-sidebar">
  </aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        修改商品
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li>库存</li>
        <li class="active">修改商品</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<p id="errormsg" style="color:red" th:text="(${error} != null) ? ${error} : ''"></p>
    	</div>
		<div class="row" th:if="${product} != null">
			<div class="box box-warning">
				<div class="box-header with-border">
					<h3 class="box-title">商品信息</h3>
				</div>
				<div class="box-body">
					<form id="productdetail">
						<div class="hide form-control-panel" th:if="${limit['type']}">
							<label>类型</label>
							<input type="text" class="form-control" name="type" readonly th:value="(${product.isSingle()} == true) ? 'single' : 'group'">
						</div>
						<div class="form-control-panel" th:if="${limit['type']}">
							<label>商品类型</label>
							<input type="text" class="form-control" readonly th:value="(${product.isSingle()} == true) ? '单品' : '商品组合'">
						</div>
						<div class="form-group" th:if="${limit['identifier']}">
							<label for="inputNo">编号</label>
							<input type="number" class="form-control" readonly name="identifier" th:value="${product.identifier}" placeholder="商品编号" />
						</div>
						<div class="form-group" th:if="${limit['name']}">
							<label for="inputName">名称</label>
							<input type="text" class="form-control" id="inputName" name="name" th:value="${product.name}" placeholder="商品名称" />
						</div>
						<div class="form-group" th:if="${limit['introduction']}">
							<label for="inputDesc">简介</label>
							<input type="text" class="form-control" id="inputDesc" name="introduction" th:value="${product.introduction}" placeholder="商品简介" />
						</div>
						<div class="form-group singleProductInfo" th:if="${product.isSingle()} and ${limit['category']}">
							<label>品名</label>
							<input type="text" class="form-control" readonly name="category" th:value="${product.category}" placeholder="商品品类">
						</div>
						<div class="form-group singleProductInfo" th:if="${product.isSingle()} and ${limit['brand']}">
							<label for="inputCorp">品牌</label>
							<input type="text" class="form-control" readonly name="brand" th:value="${product.brand}" placeholder="商品品牌">
						</div>
						<div class="form-group singleProdu ctInfo" th:if="${product.isSingle()} and ${limit['material']}">
							<label for="inputMaterial">材质</label>
							<input type="text" class="form-control" id="inputMaterial" name="material" th:value="${product.material}" placeholder="产品材质" />
						</div>
						<div class="form-group singleProductInfo" th:if="${product.isSingle()} and ${limit['color']}">
							<label for="inputColor">颜色</label>
							<input type="text" class="form-control" id="inputColor" name="color" th:value="${product.color}" placeholder="产品颜色" />
						</div>
						<div class="form-group singleProductInfo" th:if="${product.isSingle()} and ${limit['size']}">
							<label for="inputSize">尺寸</label>
							<input type="text" class="form-control" id="inputSize" name="size" th:value="${product.size}" placeholder="产品尺寸" />
						</div>
						<div class="form-group" th:if="${limit['price']}">
							<label for="inputPrice">价格</label>
							<input type="text" class="form-control" id="inputPrice" name="price" th:value="${product.price}" placeholder="产品价格"/>
						</div>
						<div class="form-group" th:if="${limit['minPrice']}">
							<label for="inputPrice">最低价格</label>
							<input type="number" class="form-control" id="inputPrice" name="minPrice" th:value="${product.minPrice}" placeholder="产品价格"/>
						</div>
						<div class="form-group singleProductInfo" th:if="${product.isSingle()} and ${limit['inventory']}">
							<label for="inputPrice">库存数量</label>
							<input type="number" class="form-control" id="inputPrice" name="inventory" th:value="${product.inventory}" placeholder="库存数量"/>
						</div>
						<div class="form-group" th:if="${limit['remark']}">
							<label for="inputRemark">备注</label>
							<textarea class="form-control" rows="3" id="inputRemark" name="remark" th:value="${product.remark}"></textarea>
						</div>
						<div class="hide form-group" th:if="${limit['version']}">
							<label>版本号</label>
							<input type="number" class="form-group" readonly name="version" th:value="${product.version}">
						</div>
						<div class="hide form-group" th:if="${limit['creater']}">
							<label>创建人</label>
							<input type="text" class="form-group" readonly name="creater" th:value="${product.creater}">
						</div>
						<div class="hide form-group" th:if="${limit['tenantId']}">
							<label>租户</label>
							<input type="text" class="form-group" readonly name="tenantId" th:value="${product.tenantId}">
						</div>
					</form>
					<span class="groupProductInfo divider"></span>
					<ul th:unless="${product.isSingle()}" id="productlist" class="products-list product-list-in-box groupProductInfo">
						<li class="item">
							<div class="pull-right">
								<div class="btn-group">
									<button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown">添加商品<span class="caret"></span></button>
									<ul class="dropdown-menu">
										<li><a data-toggle="modal" href="#"><span class="fa fa-qrcode"></span>二维码</a></li>
										<li><a data-toggle="modal" href="#selectProduct"><span class="fa fa-search"></span>搜索</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li class="item" th:each="item : ${product.items}">
							<div class="product-img"> 
								<img src="/dist/img/default-50x50.gif" /> 
							</div> 
							<div class="product-info"> 
								<div class="hide"> 
									<p name="id" th:text="${item.item.id}"></p>
									<p name="type" th:text="(${item.item.isSingle()} == true) ? 'single' : 'group'"></p> 
								</div> 
								<div class="product-title"> 
									<a href="#" name="name" th:text="${item.item.name}">雕花木床</a> 
									<span class="label label-info" name="identification" th:text="${item.item.identifier}">3526156152</span> 
								</div> 
								<span name="introduction" class="product-description" th:text="${item.item.introduction}">双虎家私 - 红木 - 红色 - 180x200</span> 
								<span name="price" class="lable label-warning" style="display:inline;" th:text="${item.item.price}">5000</span> 
								<div class="btn-group pull-right"> 
									<button name="minusnumber" type="button" class="btn btn-default btn-xs number-minus"><i class="fa fa-minus"></i></button> 
									<input name="number" class="btn btn-default btn-xs number" style="width:34px;" th:value="${item.number}"> 
									<button name="plusnumber" type="button" class="btn btn-default btn-xs number-plus"><i class="fa fa-plus"></i></button> 
								</div> 
							</div>
						</li>
					</ul>
				</div>
				<div class="box-footer">
					<button id="cancel" type="button" class="btn btn-default btn-flat">取消</button>
					<button id="submitdata" type="button" class="btn btn-success btn-flat pull-right">提交</button>
				</div>
			</div>
		</div>
		<div th:unless="${product.isSingle()}" class="modal fade" id="selectProduct">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="model-title">选择商品</h4>
					</div>
					<div class="modal-body">
						<div>
							<p id="errormsgsub" style="color:red;"></p>
						</div>
						<div class="input-group">
							<input type="text" id="searchkey" placeholder="商品编号、名称" class="form-control" />
							<span class="input-group-btn">
								<button type="button" id="searchproductbtn" class="btn btn-success btn-flat"><span class="fa fa-search"></span></button>
							</span>
						</div>
						<div class="search-result">
							<ul id="search_productlist" class="products-list">
							</ul>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-flat" data-dismiss="modal">关闭</button>
						<button id="selectedbtn" type="button" class="btn btn-success btn-flat" data-dismiss="modal">选定</button>
					</div>
				</div>
			</div>
		</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="footer::footer">
  </footer>

</div>
<!-- ./wrapper -->

<div th:include="header::jsfragment"></div>
<!-- Custom -->
<script src="/custom/js/product.js"></script>
<!-- init -->
<script type="text/javascript">
	$(function() {
		function incrProductNum(event) {
			var btn = $(event.target);
			var numInput = btn.closest("div").children("input");
			numInput.val(parseInt(numInput.val()) + 1);
		}
		function descProductNum(event) {
			var btn = $(event.target);
			var numInput = btn.closest("div").children("input");
			var num = parseInt(numInput.val()) - 1;
			if (num < 1) {
				num = 1;
			}
			numInput.val(num);
		}
		function deleteProductItem(event) {
			var btn = $(event.target);
			btn.closest("li").remove();
		}
		function extractProduct(item) {
			var id = item.find("[name='id']").text();
			var type = item.find("[name='type']").text();
			var name = item.find("[name='name']").text();
			var identification = item.find("[name='identification']").text();
			var introduction = item.find("[name='introduction']").text();
			var price = item.find("[name='price']").text();
			var number = item.find("[name='number']").val();
			var productItem = new Object();
			productItem.id = id;
			productItem.name = name;
			productItem.identification = identification;
			productItem.introduction = introduction;
			productItem.price = parseFloat(price);
			productItem.number = number;
			productItem.type = type;
			return productItem;
		}
		function submitData(submitbtn) {
			var param = new Object();
			
			var ul = $("#productlist");
			var items = ul.children();
			var productlist = [];
			for (var i = 1; i < items.length; i++) {
				var item = items[i];
				var temp = extractProduct($(item));
				productlist[i - 1] = temp;
			}
			
			var form = $("#productdetail");
			param = form.serializeJSON();
			param.products = productlist;
			alert(JSON.stringify(param));
			$.ajax({
				type:"POST",
				url:"/product/update",
				data:JSON.stringify(param),
				dataType:"json",
				contentType:"application/json",
				success: function(data) {
					if (data.returnState == "OK") {
						window.location = "/product_detail/" + data.returnData.identifier;
					} else {
						$("#errormsg").text(data.returnMsg);
					}
				}
			});
		}
		
		function create_item(product) {
			var item = $("<li class='item'></li>")
			item.html('<div class="product-img"> \
							<img src="/dist/img/default-50x50.gif" /> \
						</div> \
						<div class="product-info"> \
							<div class="hide"> \
								<p name="id">23423</p> \
								<p name="type">23423</p> \
							</div> \
							<div class="product-title"> \
								<a href="#" name="name">雕花木床</a> \
								<span class="label label-info" name="identification">3526156152</span> \
							</div> \
							<span name="introduction" class="product-description">双虎家私 - 红木 - 红色 - 180x200</span> \
							<span name="price" class="lable label-warning" style="display:inline;">5000</span> \
							<div class="btn-group pull-right"> \
								<button name="minusnumber" type="button" class="btn btn-default btn-xs number-minus"><i class="fa fa-minus"></i></button> \
								<input name="number" class="btn btn-default btn-xs number" style="width:34px;" value="0"> \
								<button name="plusnumber" type="button" class="btn btn-default btn-xs number-plus"><i class="fa fa-plus"></i></button> \
							</div> \
						</div>');
			item.find("[name='id']").text(product.id);
			item.find("[name='name']").text(product.name);
			item.find("[name='identification']").text(product.identifier);
			item.find("[name='introduction']").text(product.introduction);
			item.find("[name='price']").text(product.price);
			item.find("[name='plusnumber']").on("click", incrProductNum);
			item.find("[name='minusnumber']").on("click", descProductNum);
			if (product.type == 2) {
				item.find("[name='type']").text("group");
			} else {
				item.find("[name='type']").text("single");
			}
			return item;
		}
		
		function searchProducts(event) {
			$("#errormsgsub").text("");
			var content = $("#searchkey").val();
			if (content == null || content.length == 0) {
				$("#errormsgsub").text("搜索商品时请输入商品编号或名称. content = " + content);
				return;
			}
			
			$.get("/product/search/" + content, {},
				function (data) {
					if (data.returnState == "OK") {
						$("#search_productlist").empty();
						var products = data.returnData.products;
						for (var i = 0; i < products.length; i++) {
							var item = create_item(products[i]);
							$("#search_productlist").append(item);
						}
					} else {
						$("#errormsgsub").text(data.returnMsg);
					}
				}		
			);
		}
		
		function selectProductItem(event) {
			var items = $("#search_productlist").children();
			for (var i = 0; i < items.length; i++) {
				var item = $(items[i]);
				var input = item.find("[name='number']");
				if (parseInt(input.val()) > 0) {
					var clone = item.clone(true);
					var deletebtn = $('<span class="pull-right fa fa-trash-o"></span>');
					deletebtn.click(deleteProductItem);
					deletebtn.insertAfter(clone.find("[name='identification']"));
					$("#productlist").append(clone);
				}
			}
			$("#search_productlist").empty();
			$("#errormsgsub").text();
		}
		
		$("#submitdata").on("click", submitData);
		$("#cancel").on("click", historyback);
		$("[name='increase']").on("click", incrProductNum);
		$("[name='descrease']").on("click", descProductNum);
		$("[name='deletebtn']").on("click", deleteProductItem);
		$("#createProductGroup").trigger("click");
		$("#searchproductbtn").on("click", searchProducts);
		$("#selectedbtn").on("click", selectProductItem);
	});
</script>
</body>
</html>
