<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="header::cssfragment">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header th:replace="header::mainheader(${notifications}, ${tasks}, ${carets}, ${userWrapper.getUser()})" class="main-header">
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="header::mainsider(${userWrapper})" class="main-sidebar">
  </aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        商品详情
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li>库存</li>
        <li class="active">商品详情</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<p id="errormsg" style="color:red;" th:text="(${error} != null) ? ${error} : ''"></p>
    	</div>
     	<div class="row" th:if="${product} != null">
     		<div class="box box-info">
     			<div class="box-header">
     				<h3 class="box-title" th:text="'商品编号：' +  ${product.identifier}">商品编号：3136165132</h3>
     				<div class="btn-group pull-right">
     					<button type="button" id="updateproductbtn" class="btn btn-default"><span class="fa fa-pencil-square-o"></span></button>
     					<button type="button" id="deleteproductbtn" class="btn btn-default"><span class="fa fa-trash-o"></span></button>
     				</div>
     			</div>
     			<div class="box-body table-responsive">
     				<table class="table table-striped">
     					<tbody>
     						<tr class="hide" th:if="${limit['id']}">
     							<td>ID</td>
     							<td id="product_id" th:text="${product.id}"></td>
     						</tr>
     						<tr class="hide" th:if="${limit['identifier']}">
     							<td>编号</td>
     							<td id="product_identifier" th:text="${product.identifier}"></td>
     						</tr>
     						<tr th:if="${limit['type']}">
     							<td>类型</td>
     							<td id="product_type" th:text="(${product.type} == 1) ? '单品' : '商品组合'">单品</td>
     						</tr>
     						<tr th:if="${limit['name']}">
     							<td>名称</td>
     							<td id="product_name" th:text="${product.name}">雕花木床</td>
     						</tr>
     						<tr th:if="${limit['introduction']}">
     							<td>简介</td>
     							<td id="product_introduction" th:text="${product.introduction}">双虎家私 - 红木 -红色 - 180x200</td>
     						</tr>
     						<tr th:if="${product.isSingle()} and ${limit['category']}">
     							<td>品名</td>
     							<td id="product_category" th:text="${product.category}">床具</td>
     						</tr>
     						<tr th:if="${product.isSingle()} and ${limit['brand']}">
     							<td>品牌</td>
     							<td id="product_brand" th:text="${product.brand}">双虎家私</td>
     						</tr>
     						<tr th:if="${product.isSingle()} and ${limit['material']}">
     							<td>材质</td>
     							<td id="product_material" th:text="${product.material}">红木</td>
     						</tr>
     						<tr th:if="${product.isSingle()} and ${limit['color']}">
     							<td>颜色</td>
     							<td id="product_color" th:text="${product.color}">红色</td>
     						</tr>
     						<tr th:if="${product.isSingle()} and ${limit['size']}">
     							<td>尺寸</td>
     							<td id="product_size" th:text="${product.size}">180x200</td>
     						</tr>
     						<tr th:if="${limit['price']}">
     							<td>价格</td>
     							<td ><span id="product_price" class="label label-warning" th:text="'￥'  +  ${product.price}">￥5000</span></td>
     						</tr>
     						<tr th:if="${product.isSingle()} and ${limit['inventory']}">
     							<td>库存</td>
     							<td><span id="product_inventory" class="label label-default" th:text="${product.inventory} + '件'">2件</span></td>
     						</tr>
     						<tr th:if="${limit['remark']}">
     							<td>备注</td>
     							<td id="product_remark" th:text="${product.remark}">无</td>
     						</tr>
     					</tbody>
     				</table>
     				<ul th:if="(${product.isSingle()} == false) and ${limit['items']}" class="products-list product-list-in-box" style="padding:10px;">
     					<li class="item" th:each="item : ${product.items}">
     						<div class="product-img">
     							<img src="/dist/img/default-50x50.gif" />
     						</div>
     						<div class="product-info">
     							<a href="#" class="product-title" th:text="${item.item.name}">普通大床</a>
     							<span class="product-description" th:text="${item.item.introduction}">双虎家私 - 压缩板 - 乳白色 - 180x200</span>
     							<span class="label label-warning" th:text="'￥' + ${item.item.price}">￥1500</span>
     							<span class="label label-default pull-right" th:text="${item.number} + '件'">2件</span>
     						</div>
     					</li>
     				</ul>
     			</div>
     			<div class="box-footer">
					<div class="input-group" style="margin-bottom:10px;">
						<input type="number" class="form-control" id="shopcaretnumber" value="1">
						<span class="input-group-btn">
							<button type="button" class="btn btn-success btn-flat" id="addshopcart"><span class="fa fa-shopping-cart"> 加入购物车</span></button>
						</span>
					</div>
     			</div>
     		</div>
     	</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="footer::footer">
  </footer>

</div>
<!-- ./wrapper -->

<div th:include="header::jsfragment"></div>
<script src="/custom/js/product.js"></script>
<script type="text/javascript">
	$(function() {
		$("#deleteproductbtn").on("click", function () {
			var identifier = $("#product_identifier").text();
			$.get("/product/delete/" + identifier, {},
				function (data) {
					if (data.returnState == "OK") {
						window.location="/product_list";
					} else {
						$("#errormsg").text(data.returnMsg);
					}
				}
			);
		});
		$("#updateproductbtn").on("click", function () {
			window.location = "/product/update/" + $("#product_identifier").text();
		});
		$("#addshopcart").on("click", function () {
			var id = $("#product_id").text();
			var identifier = $("#product_identifier").text();
			var number = $("#shopcaretnumber").val();
			$.post("/shopcaret/addproduct", {"product_id":id, "product_identifier":identifier, "number":number},
				function (data) {
					if (data.returnState == "OK") {
						alert("已放入购物车");
						
						var name = $("#product_name").text();
						var price = $("#product_price").text();
						var intr = $("#product_introduction").text();
						add_caret(name, price, number, intr);
					} else {
						$("#errormsg").text(data.returnMsg);
					}
				}
			); 
		});
	});
</script>
</body>
</html>
