<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="header::cssfragment">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header th:replace="header::mainheader(${notifications}, ${tasks}, ${carets}, ${userWrapper.getUser()})" class="main-header">
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="header::mainsider(${userWrapper})" class="main-sidebar">
  </aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        库存
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">库存</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<p id="errormsg" style="color:red;" th:text="(${error} != null) ? ${error} : ''"></p>
    	</div>
    	<div class="row">
    		<div class="box box-info">
    			<div class="box-header with-border">
    				<h3 class="box-title">库存列表    <small id="count">0/0</small></h3>
    			</div>
    			<div class="box-body">
    				<div class="input-group" style="margin-bottom:10px;">
						<input type="text" id="searchkey" placeholder="商品编号、名称" class="form-control" />
						<span class="input-group-btn">
							<button type="button" id="searchproductbtn" class="btn btn-success btn-flat"><span class="fa fa-search"></span></button>
						</span>
					</div>
    				<ul class="products-list product-list-in-box" id="productlist">
    				</ul>
    			</div>
    			<div class="box-footer text-center"><a href="#" id="querymoreproduct">查看更多</a></div>
    		</div>
    	</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="footer::footer">
  </footer>

</div>
<!-- ./wrapper -->

<div th:include="header::jsfragment"></div>
<script src="custom/js/product.js"></script>
<script type="text/javascript">
	$(function() {
		function product_detail(event) {
			var identifier = $(event.target).closest("div").children("span");
			window.location = "/product_detail/" + identifier.text();
		}
		function create_item(product) {
			var item = $("<li class='item'></li>")
			item.html('<div class="product-img"> \
							<img src="dist/img/default-50x50.gif" /> \
						</div> \
						<div class="product-info"> \
							<div> \
								<a href="#" class="product-title" name="name">雕花木床</a> \
								<span class="label label-info" name="identification">3526156152</span> \
							</div> \
							<span name="introduction" class="product-description">双虎家私 - 红木 - 红色 - 180x200</span> \
							<div> \
								<span name="price" class="lable label-warning" style="display:inline;">5000</span> \
								<span name="number" class="label label-default pull-right">1件</span> \
							</div> \
						</div>');
			item.find("[name='name']").text(product.name);
			item.find("[name='name']").on("click", product_detail);
			item.find("[name='identification']").text(product.identifier);
			item.find("[name='introduction']").text(product.introduction);
			item.find("[name='price']").text("￥" + product.price);
			if (product.type == 2) {
				item.find("[name='number']").remove();
			} else {
				item.find("[name='number']").text(product.inventory + "件");
			}
			return item;
		}
		
		function getData(start, size) {
			$.get("/product/list/" + start + "/" + size, {},
				function (data) {
					if (data.returnState == "OK") {
						var products = data.returnData.products;
						for (var i = 0; i < products.length; i++) {
							var item = create_item(products[i]);
							$("#productlist").append(item);
							sum += 1;
						}
						$("#count").text(sum + "/" + data.returnData.count);
						if (sum >= data.returnData.count) {
							$("#querymoreproduct").hide();
						} else {
							$("#querymoreproduct").show();
						}
					} else {
						$("#errormsg").text(data.returnMsg);
					}
				}
			);
		}
		
		var sum = 0;
		getData(sum, 15);
		$("#querymoreproduct").on("click", function() {
			getData(sum, 15);
		});
		$("#searchproductbtn").on("click", function() {
			var content = $("#searchkey").val();
			if (content == null || content.length == 0) {
				$("#errormsg").text("请输入要查询商品的编号或名称");
				return;
			}
			
			$.get("/product/search/" + content, {},
				function (data) {
					if (data.returnState == "OK") {
						sum = 0;
						$("#productlist").empty();
						var products = data.returnData.products;
						for (var i = 0; i < products.length; i++) {
							var item = create_item(products[i]);
							$("#productlist").append(item);
							sum += 1;
						}
						$("#count").text(sum + "种商品");
						$("#querymoreproduct").hide();
					} else {
						$("#errormsg").text(data.returnMsg);
					}
				}		
			);
		});
	})
</script>
</body>
</html>
