<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>云库家具门店管理系统</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/plugins/iOS-Overlay/css/iosOverlay.css">
  <link rel="stylesheet" href="/plugins/iOS-Overlay/css/prettify.css">
  <link rel="stylesheet" href="/custom/css/common.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <a href="login"><b>云库</b><small>家具门店管理系统</small></a>
  </div>

  <div class="register-box-body">
    <h3 class="login-box-msg">注册</h3>
	<label id="error" style="color:red" th:text="${error}"></label>
    <form action="/register" method="post">
    	<fieldset>
    		<legend><small>用户</small></legend>
    		<div class="form-group has-feedback">
    			<label>用户名<span style="color:red;">*</span></label>
    			<input type="text" id="username" name="username" class="form-control">
    		</div>
    		<div class="form-group has-feedback">
    			<label>密码<span style="color:red;">*</span></label>
    			<input type="password" id="pwd" name="password" class="form-control">
    		</div>
    		<div class="form-group has-feedback">
    			<label>再次输入<span style="color:red;">*</span></label>
    			<input type="password" id="repwd" class="form-control">
    		</div>
    	</fieldset>
     	<fieldset>
     		<legend><small>公司信息</small></legend>
		    <div class="form-group has-feedback">
		      <label>名称<span style="color:red;">*</span></label>
		      <input type="text" id="corpName" name="corpName" class="form-control">
		    </div>
		    <div class="form-group has-feedback">
		      <label>地址<span style="color:red;">*</span></label>
		      <input type="text" id="corpAddress" name="corpAddress" class="form-control">
		    </div>
		    <div class="form-group has-feedback">
		      <label>经营范围</label>
		      <input type="text" id="corpScope" name="corpScope" class="form-control">
		    </div>
		    <div class="form-group has-feedback">
		      <label>联系电话</label>
		      <input type="text" id="corpPhone" name="corpPhone" class="form-control">
		    </div>
      	</fieldset>
     	<fieldset>
      		<legend><small>联系人</small></legend>
    		<div class="form-group has-feedback">
    			<label>姓名<span style="color:red;">*</span></label>
      			<input type="text" id="name" name="contactorName" class="form-control">
    		</div>
    		<div class="form-group has-feedback">
    		    <label>电话<span style="color:red;">*</span></label>
      			<input type="text" id="phone" name="contactorPhone" class="form-control">
    		</div>
    		<div class="from-group" style="margin-bottom:15px;">
    			<label>验证码<span style="color:red;">*</span></label>
    			<div class="input-group">
	    			<input id="regCode" name="registerCode" type="text" class="form-control">
	    			<span class="input-group-btn"><button id="sendRegisterCodeBtn" type="button" class="btn btn-default">发送验证码</button></span>
    			</div>
    		</div>
    		<div class="form-group has-feedback">
    			<label>邮箱<span style="color:red;">*</span></label>
     			<input type="email" id="email" name="contactorEmail" class="form-control">
   	 		</div>
   	 		<div class="form-group">
   	 			<label>性别<span style="color:red;">*</span></label><br>
   	 			<label class="radio-inline"><input type="radio" name="contactorSex" value="0" checked>男</label>
   	 			<label class="radio-inline"><input type="radio" name="contactorSex" value="1">女</label>
   	 		</div>
      	</fieldset>
      	<div class="row">
        	<!-- /.col -->
        	<div class="col-xs-12">
          		<button id="submitForm" type="submit" class="btn btn-success btn-block btn-flat">注册</button>
       		</div>
        	<!-- /.col -->
      	</div>
    </form>

    <p style="margin-top:15px;">已经是会员？<a href="login" class="text-center">点此登录</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->

<!-- jQuery 3 -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- register specific -->
<script src="/plugins/iOS-Overlay/js/modernizr-2.0.6.min.js"></script>
<script src="/plugins/iOS-Overlay/js/iosOverlay.js"></script>
<script src="/plugins/iOS-Overlay/js/spin.min.js"></script>
<script src="/plugins/iOS-Overlay/js/prettify.js"></script>
<script src="/custom/js/common.js"></script>
<script src="/custom/js/register.js"></script>
<script type="text/javascript">
	$(function() {
		$("#sendRegisterCodeBtn").on("click", requestRegisterCode);
		
		$("#submitForm").click(function (event) {
			if (registerCheck()) {
			} else {
				event.preventDefault();
			}
		});
	});
</script>
</body>
</html>
