<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="header::cssfragment">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header th:replace="header::mainheader(${notifications}, ${tasks}, ${carets}, ${userWrapper.getUser()})" class="main-header">
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="header::mainsider(${userWrapper})" class="main-sidebar">
  </aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        资金往来
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">资金往来</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<p id="errormsg" style="color:red" th:text="(${error} != null) ? ${error} : ''"></p>
    	</div>
      	<div class="row">
      		<div class="box box-info">
      			<div class="box-header with-border">
      				<h3 class="box-title">资金往来  <small id="count"></small></h3>
      			</div>
      			<div class="box-body">
      				<div class="hide btn-group" style="margin-bottom:10px;">
      					<button id="outcome" type="button" class="active btn btn-default">支出</button>
      					<button id="income" type="button" class="active btn btn-default">收入</button>
      				</div>
      				<table class="table table-striped">
      					<tbody id="recordlist">
      						<tr>
      							<th style="width:13%;">收支</th>
      							<th style="width:25%;">日期</th>
      							<th>金额</th>
      							<th>备注</th>
      						</tr>
      					</tbody>
      				</table>
      			</div>
      			<div class="box-footer text-center">
      				<a id="querymore" href="#">查询更多</a>
      			</div>
      		</div>
      	</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="footer::footer">
  </footer>

</div>
<!-- ./wrapper -->

<div th:include="header::jsfragment"></div>
<script type="text/javascript">
	$(function() {
		function create_item(record) {
			var time = new Date(record.time);
			var cashtime = time.getFullYear() + "/" + (time.getMonth() + 1) + "/" + time.getDate() + " " + time.getHours() + ":" + time.getMinutes() + ":" + time.getSeconds();
			if (record.direction == 0) {
				var tr = $("<tr class='outcome'></tr>");
				var dir_td = $("<td>支出</td>");
				var date_td = $("<td>" + cashtime + "</td>");
				var cash_td = $("<td>￥" + record.sum + "</td>");
				var detail_td = $("<td>" + record.remark + "</td>");
				tr.append(dir_td);
				tr.append(date_td);
				tr.append(cash_td);
				tr.append(detail_td);
				return tr;
			} else {
				var tr = $("<tr class='income'></tr>");
				var dir_td = $("<td>收入</td>");
				var date_td = $("<td>" + cashtime + "</td>");
				var cash_td = $("<td>￥" + record.sum + "</td>");
				var detail_td = $("<td>" + record.remark + "</td>");
				tr.append(dir_td);
				tr.append(date_td);
				tr.append(cash_td);
				tr.append(detail_td);
				return tr;
			}
		}

		var sum = 0;
		function addItems(records) {
			for (var i = 0; i < records.length; i++) {
				sum += 1;
				var item = create_item(records[i]);
				$("#recordlist").append(item);
			}
		}
		
		$.get("/tenant/waterbill/" + sum.toString() + "/15", {},
			function(data) {
				if (data.returnState == "OK") {
					var records = data.returnData.records;
					var count = data.returnData.count;
					addItems(records);
					if (sum >= count) {
						$("#querymore").hide();
					} else {
						$("#querymore").show();
					}
					$("#count").text(sum + "条记录");
				} else {
					// error
					$("#errormsg").text(data.returnMsg);
				}
			}
		);
		$("#querymore").on("click", function() {
			$.get("/tenant/waterbill/" + sum.toString() + "/15", {},
				function(data) {
					if (data.returnState == "OK") {
						var records = data.returnData.records;
						var count = data.returnData.count;
						addItems(records);
						if (sum >= count) {
							$("#querymore").hide();
						} else {
							$("#querymore").show();
						}
						$("#count").text(sum);
					} else {
						$("#errormsg").text(data.returnMsg);
					}
				}
			);
		});
	});
</script>
</body>
</html>
