<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="header::cssfragment">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header th:replace="header::mainheader(${notifications}, ${tasks}, ${carets}, ${userWrapper.getUser()})" class="main-header">
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="header::mainsider(${userWrapper})" class="main-sidebar">
  </aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        代理设置
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">代理设置</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<p id="errormsg" style="color:red" th:text="(${error} != null) ? ${error} : ''"></p>
    	</div>
      	<div class="row">
      		<div class="box box-info">
      			<div class="box-header with-border">
      				<h3 class="box-title">代理品牌   <small id="agentcountlabel" th:text="'共' + ${agent.agent.size()} + '条'">2/10</small></h3>
      			</div>
      			<div class="box-body">
      				<div class="input-group" style="margin-bottom:10px;">
      					<input type="text" id="addagentcontent" class="form-control">
      					<span class="input-group-btn"><button id="addagentbtn" type="button" class="btn btn-flat btn-success">添加</button></span>
      				</div>
      				<table class="table table-striped">
      					<tbody id="agenttable">
      						<tr>
      							<th style="width:10%;">#</th>
      							<th style="width:80%;">品牌名</th>
      							<th style="width:10%;"></th>
      						</tr>
      						<tr th:if="(${agent} != null) and (${agent.agent} != null)" th:each="entries,stat:${agent.agent}">
      							<td th:text="${stat.count}">1</td>
      							<td th:text="${entries}">双虎家私</td>
      							<td><a name="remove_agent" href="#"><span class="fa fa-trash-o"></span></a></td>
      						</tr>
      					</tbody>
      				</table>
      			</div>
      			<div class="hide box-footer text-center">
      				<a href="#">查询更多</a>
      			</div>
      		</div>
      	</div>
      	
     	<div class="row">
      		<div class="box box-info">
      			<div class="box-header with-border">
      				<h3 class="box-title">销售品类   <small id="categorycountlabel" th:text="'共' +  ${agent.categories.size()} + '条'">2/10</small></h3>
      			</div>
      			<div class="box-body">
      				<div class="input-group" style="margin-bottom:10px;">
      					<input type="text" id="addcategorycontent" class="form-control">
      					<span class="input-group-btn"><button id="addcategorybtn" type="button" class="btn btn-flat btn-success">添加</button></span>
      				</div>
      				<table class="table table-striped">
      					<tbody id="categorytable">
      						<tr>
      							<th style="width:10%;">#</th>
      							<th style="width:80%;">品类</th>
      							<th style="width:10%;"></th>
      						</tr>
      						<tr th:if="(${agent} != null) and (${agent.agent} != null)" th:each="entries,stat:${agent.categories}">
      							<td th:text="${stat.count}">1</td>
      							<td th:text="${entries}">床具</td>
      							<td><a name="remove_category" href="#"><span class="fa fa-trash-o"></span></a></td>
      						</tr>
      					</tbody>
      				</table>
      			</div>
      			<div class="hide box-footer text-center">
      				<a href="#">查询更多</a>
      			</div>
      		</div>
      	</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="footer::footer">
  </footer>

</div>
<!-- ./wrapper -->
<div th:include="header::jsfragment"></div>
<script th:inline="javascript" type="text/javascript">
	var agent = new Set([[${agent.agent}]]);
	var category = new Set([[${agent.categories}]]);
	$(function() {
		function create_item(index, content, callback) {
			var tr = $("<tr></tr>");
			var id_td = $("<td></td>");
			var content_td = $("<td></td>");
			var delete_td = $("<td></td>");
			var delete_href=$("<a href='#'><span class='fa fa-trash-o'></span></a>");
			delete_href.click(callback);
			delete_td.append(delete_href);
			id_td.text(index.toString());
			content_td.text(content);
			tr.append(id_td);
			tr.append(content_td);
			tr.append(delete_td);
			return tr;
		}
		
		function refresh_agent_display() {
			var th = $("<tr><th style='width:10%;'>#</th><th style='width:80%;'>品类</th><th style='width:10%;'></th></tr>");
			$("#agenttable").empty();
			$("#agenttable").append(th);
			var count = 1;
			agent.forEach(function(element, index, array) {
				var tr = create_item(count, element, agent_remove_callback);
				$("#agenttable").append(tr);
				count += 1;
			});
			$("#agentcountlabel").text("共" + agent.size + "条");
		}
		function refresh_category_display() {
			var th = $("<tr><th style='width:10%;'>#</th><th style='width:80%;'>品牌名</th><th style='width:10%;'></th></tr>");
			$("#categorytable").empty();
			$("#categorytable").append(th);
			var count = 1;
			category.forEach(function(element, index, array) {
				var tr = create_item(count, element, category_remove_callback);
				$("#categorytable").append(tr);
				count += 1;
			});
			$("#categorycountlabel").text("共" + category.size + "条");
		}
		
		var agent_remove_callback = function(event) {
			$("#errormsg").text("");
			var tr = $(event.target).closest("tr");
			var td = tr.children("td:eq(1)");
			$.post("/tenant/agent/remove", {"agent":td.text()},
					function(data) {
				if (data.returnState == "OK") {
					agent.delete(td.text());
					refresh_agent_display();
				} else {
					$("#errormsg").text(data.returnMsg);
				}
			});
		};
		
		var category_remove_callback = function(event) {
			$("#errormsg").text("");
			var tr = $(event.target).closest("tr");
			var td = tr.children("td:eq(1)");
			$.post("/tenant/category/remove", {"category":td.text()},
					function(data) {
				if (data.returnState == "OK") {
					category.delete(td.text());
					refresh_category_display();
				} else {
					$("#errormsg").text(data.returnMsg);
				}
			});
		};
		
		$("[name='remove_agent']").on("click", agent_remove_callback);
		$("[name='remove_category']").on("click", category_remove_callback);
		
		$("#addagentbtn").on("click", function() {
			$("#errormsg").text("");
			var content = $("#addagentcontent").val()
			if (content == null || content.length == 0) {
				$("#errormsg").text("请输入需要添加的品牌，然后点击添加按钮");
				return;
			}
			if (agent.has(content)) {
				$("#errormsg").text(content + "已存在");
				return;
			}
			$.post("/tenant/agent/add",{"agent":content},
				function(data) {
					if (data.returnState == "OK") {
						$("#addagentcontent").val("");
						agent.add(content);
						refresh_agent_display();
					} else {
						$("#errormsg").text(data.returnMsg);
					}
				}
			);
		});
		$("#addcategorybtn").on("click", function() {
			$("#errormsg").text("");
			var content = $("#addcategorycontent").val();
			if (content == null || content.length == 0) {
				$("#errormsg").text("请输入需要添加的品类，然后点击添加按钮");
				return;
			}
			if (category.has(content)) {
				$("#errormsg").text(content + "已存在");
				return;
			}
			$.post("/tenant/category/add", {"category":content},
				function(data) {
					if (data.returnState == "OK") {
						$("#addcategorycontent").val("");
						category.add(content);
						refresh_category_display();
					} else {
						$("#errormsg").text(data.returnMsg);
					}
				}
			);
		});
	});
</script>
</body>
</html>
