<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="header::cssfragment">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header th:replace="header::mainheader(${notifications}, ${tasks}, ${carets}, ${userWrapper.getUser()})" class="main-header">
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="header::mainsider(${userWrapper})" class="main-sidebar">
  </aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        租户信息
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">租户信息</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      	<div class="row">
      		<div>
      			<p id="errormsg" style="color:red" th:text="(${error} != null) ? ${error} : ''"></p>
      		</div>
      		<div class="box box-info">
      			<div class="box-header with-border">
      				<h3 class="box-title">企业信息</h3>
      				<button type="button" data-toggle="modal" data-target="#companymodal" class="btn btn-default pull-right"><span class="fa fa-pencil-square-o"></span></button>
      			</div>
      			<div class="box-body">
      				<table th:if="${tenant} != null" class="table table-striped">
      					<tbody>
      						<tr>
      							<th style="width:25%;">名称</th>
      							<th id="company_name" th:text="${tenant.name}">济宁云库网络科技有限公司</th>
      						</tr>
      						<tr>
      							<td>地址</td>
      							<td id="company_address" th:text="${tenant.address}">济宁市任城区</td>
      						</tr>
      						<tr>
      							<td>经营范围</td>
      							<td id="company_scope" th:text="${tenant.scope}">家具生产销售</td>
      						</tr>
      						<tr>
      							<td>联系电话</td>
      							<td id="company_phone" th:text="${tenant.phone}">0537-11808908</td>
      						</tr>
      						<tr>
      							<td>证件</td>
      							<td><a href="#">营业执照</a>
      						</td>
      					</tbody>
      				</table>
      			</div>
      		</div>
      	</div>
      	
      	<div class="row">
      		<div class="box box-info">
      			<div class="box-header with-border">
      				<h3 class="box-title">联系人信息</h3>
      				<button type="button" data-toggle="modal" data-target="#contactormodal" class="btn btn-default pull-right"><span class="fa fa-pencil-square-o"></span></button>
      			</div>
      			<div class="box-body">
      				<table th:if="${tenant.contactor} != null" class="table table-striped">
      					<tbody>
      						<tr>
      							<th style="width:25%;">姓名</th>
      							<th id="contactor_name" th:text="${tenant.contactor.name}">邓超</th>
      						</tr>
      						<tr>
      							<td>性别</td>
      							<td id="contactor_sex" th:text="((${tenant.contactor.sex} == null) or (${tenant.contactor.sex} == 0)) ? '男' : '女'">男</td>
      						</tr>
      						<tr>
      							<td>联系电话</td>
      							<td id="contactor_phone" th:text="${tenant.contactor.phone}">0537-11808908</td>
      						</tr>
      						<tr>
      							<td>邮箱</td>
      							<td id="contactor_email" th:text="${tenant.contactor.email}">email@example.com</td>
      						</tr>
      					</tbody>
      				</table>
      			</div>
      		</div>
      	</div>
      	
      	<div class="row">
      		<div class="box box-info">
      			<div class="box-header with-border">
      				<h3 class="box-title">系统信息</h3>
      			</div>
      			<div class="box-body">
      				<table class="table table-striped">
      					<tbody>
      						<tr>
      							<td style="width:25%;">员工数</td>
      							<td th:text="${count} + '人'">5人</td>
      						</tr>
      						<tr>
      							<td>账户余额</td>
      							<td th:text="${tenant.amount}">100000</td>
      						</tr>
      						<tr>
      							<td>订购功能</td>
      							<td>
      								<ol style="padding-left:15px;">
      									<li style="margin-bottom:5px;" th:each="datePack : ${tenant.featurePacks}">
      										<span th:text="${datePack.nickName}"></span>
      										<span class="label label-warning" th:with="endTime=${datePack.endTime}" th:text="${#calendars.format(endTime, 'yyyy/MM/dd')} + '过期'">2019-4-20</span>
      									</li> 
      									<li style="margin-bottom:5px;" th:each="numPack : ${tenant.dataPacks}">
      										<span th:text="${numPack.nickName}"></span>
      										<span class="label label-warning" th:text="'剩余' + ${numPack.remainder} + '条'"></span>
      									</li> 
      								</ol>
      							</td>
      						</tr>
      					</tbody>
      				</table>
      			</div>
      		</div>
      	</div>
		<div class="modal fade" id="companymodal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">修改企业信息</h4>
					</div>
					<div class="modal-body">
						<form id="companyform">
							<div th:if="${limit['tenant']['name']}" class="form-group">
								<label>名称</label>
								<input class="form-control" type="text" name="name" th:value="${tenant.name}">
							</div>
							<div th:if="${limit['tenant']['address']}" class="form-group">
								<label>地址</label>
								<input class="form-control" type="text" name="address" th:value="${tenant.address}">
							</div>
							<div th:if="${limit['tenant']['scope']}" class="form-group">
								<label>经营范围</label>
								<input class="form-control" type="text" name="scope" th:value="${tenant.scope}">
							</div>
							<div th:if="${limit['tenant']['phone']}" class="form-group">
								<label>联系电话</label>
								<input class="form-control" type="number" name="phone" th:value="${tenant.phone}">
							</div>
							<div class="hide from-group">
								<label>版本号</label>
								<input class="form-control version" type="number" name="version" th:value="${tenant.version}">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button data-dismiss="modal" class="btn btn-default btn-flat">取消</button>
						<button data-dismiss="modal" class="btn btn-success btn-flat" id="modify_company">确定</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" th:if="${limit['tenant']['contactor']}" id="contactormodal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">修改联系人信息</h4>
					</div>
					<div class="modal-body">
						<form id="contactorform">
							<div class="form-group">
								<label>名称</label>
								<input class="form-control" type="text" name="name" th:value="${tenant.contactor.name}">
							</div>
							<div class="form-group">
								<label style="display:block;">性别</label>
								<div class="radio-inline">
									<label>
				                      	<input type="radio" name="optionsRadios" id="optionsRadios2" th:name="sex" th:value="0" th:checked="(${tenant.contactor.sex} == 0) ? 'true' : 'false'">
				                      	男
				                    </label>
				                </div>
								<div class="radio-inline">
									<label>
				                      	<input type="radio" name="optionsRadios" id="optionsRadios2" th:name="sex" th:value="1" th:checked="(${tenant.contactor.sex} == 1) ? 'true' : 'false'">
				                      	女
				                    </label>
				                </div>
							</div>
							<div class="form-group">
								<label>联系电话</label>
								<input class="form-control" type="number" name="phone" th:value="${tenant.contactor.phone}">
							</div>
							<div class="form-group">
								<label>邮箱</label>
								<input class="form-control" type="email" name="email" th:value="${tenant.contactor.email}">
							</div>
							<div class="hide from-group">
								<label>版本号</label>
								<input class="form-control version" type="number" name="version" th:value="${tenant.version}">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button data-dismiss="modal" class="btn btn-default btn-flat">取消</button>
						<button data-dismiss="modal" class="btn btn-success btn-flat" id="modify_contactor">确定</button>
					</div>
				</div>
			</div>
		</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="footer::footer">
  </footer>

</div>
<!-- ./wrapper -->

<div th:include="header::jsfragment"></div>
<script type="text/javascript">
	$(function() {
		$("#modify_company").on("click", function() {
			$.post("/tenant/company", $("#companyform").serialize(),
					function(data) {
				if (data.returnState == "OK") {
					var tenant = data.returnData.tenant;
					$("#company_name").text(tenant.name);
					$("#company_address").text(tenant.address);
					$("#company_scope").text(tenant.scope);
					$("#company_phone").text(tenant.phone);
					$("[name='version']").val(tenant.version);
				} else {
					$("#errormsg").text(data.returnMsg);
				}
			});
		});
		$("#modify_contactor").on("click", function() {
			$.post("/tenant/contactor", $("#contactorform").serialize(),
					function(data) {
				if (data.returnState == "OK") {
					var tenant = data.returnData.tenant;
					$("#contactor_name").text(tenant.contactor.name);
					$("#contactor_sex").text((tenant.contactor.sex == 0) ? '男' : '女');
					$("#contactor_phone").text(tenant.contactor.phone);
					$("#contactor_email").text(tenant.contactor.email);
					$("[name='version']").val(tenant.version);
				} else {
					$("#errormsg").text(data.returnMsg);
				}
			});
		});
	});
</script>
</body>
</html>
