<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="header::cssfragment">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header th:replace="header::mainheader(${notifications}, ${tasks}, ${carets}, ${userWrapper.getUser()})" class="main-header">
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="header::mainsider(${userWrapper})" class="main-sidebar">
  </aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        充值
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">充值</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<p id="errormsg" th:text="(${error} != null) ? ${error}:''"></p>
    	</div>
		<div class="row">
			<div class="box box-warning">
				<div class="box-header with-border">
					<h3 class="box-title">充值</h3>
				</div>
				<div class="box-body">
					<p>当前余额:<span class="label label-warning" th:text="'￥' + ((${tenant} != null) ? ${tenant.getAmount()} : 0)">￥0</span></p>
					<table class="table">
						<tbody>
							<tr>
								<td class="text-center" style="width:50%;">
									<a href="#recharge_weixin" data-toggle="modal" class="btn btn-app">
										<i class="fa fa-weixin"></i>
											微信
									</a>
								</td>
								<td class="text-center" style="width:50%;">
									<a href="#recharge_alipay" data-toggle="modal" class="btn btn-app">
										<i class="fa fa-paypal"></i>
										支付宝
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>     
		
		<div class="row">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">充值记录  <small id="recordcount"></small></h3>
				</div>
				<div class="box-body">
					<table class="table table-striped" id="recordlist">
						<tr>
							<th style="width:25%;">日期</th>
							<th style="width:20%;">金额</th>
							<th>备注</th>
						</tr>
					</table>
				</div>
				<div class="box-footer text-center">
					<a id="querymore" href="#">查询更多</a>
				</div>
			</div>
		</div> 
		
		<div class="modal fade" id="recharge_weixin">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">微信充值</h4>
					</div>
					<div class="modal-body">
						<div style="width:80%; height:50%;">
							<p>二维码</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="recharge_alipay">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">微信充值</h4>
					</div>
					<div class="modal-body">
						<div style="width:80%; height:50%;">
							<p>二维码</p>
						</div>
					</div>
				</div>
			</div>
		</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="footer::footer">
  </footer>

</div>
<!-- ./wrapper -->

<div th:include="header::jsfragment"></div>
<script type="text/javascript">
	$(function() {
		var sum = 0;

		function create_item(record) {
			if (record.direction == 1) {
				var time = record.time;
				var cash_time = time.getFullYear() + "/" + (time.getMonth() + 1) + "/" + time.getDate() + " " + time.getHours() + ":" + time.getMinutes() + ":" + time.getSeconds();
				var tr = $("<tr></tr>");
				var date_td = $("<td>" + cash_time + "</td>");
				var cash_td = $("<td>" + record.sum + "</td>")
				var mark_td = $("<td>" + record.remark + "</td>")
				tr.append(date_td);
				tr.append(cash_td);
				tr.append(mark_td);
				return tr;
			}
		}
		
		function getRecords(start, size) {
			$.get("/tenant/recharge/" + start.toString() + "/" + size.toString(), {},
				function(data) {
					if (data.returnState == "OK") {
						var records = data.returnData.records;
						var count = data.returnData.count;
						for (var i = 0; i < records.length; i++) {
							sum += 1;
							var item = create_time(records[i]);
							$("#recordlist").append(item);
						}
 						if (sum >= count) {
 							$("#querymore").hide();
 						} else {
 							$("#querymore").show();
 						}
 						$("recordcount").text(sum + "条记录")
					} else {
						$("#errormsg").text(data.returnMsg);
					}
				}		
			);
		}
		
		getRecords(0, 15);
		$("querymore").on("click", function () {
			getRecords(sum, 15);
		});
	});
</script>
</body>
</html>
