<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="header::cssfragment">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header th:replace="header::mainheader(${notifications}, ${tasks}, ${carets}, ${userWrapper.getUser()})" class="main-header">
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="header::mainsider(${userWrapper})" class="main-sidebar">
  </aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        提款
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">提款</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<p id="errormsg" style="color:red" th:text="(${error} != null) ? ${error} : ''"></p>
    	</div>
      	<div class="row">
      		<div class="box box-info">
      			<div class="box-header with-border">
      				<h3 class="box-title">提款人</h3>
      				<a href="#modifypayee" data-toggle="modal" class="btn btn-default pull-right"><span class="fa fa-pencil-square-o"></span></a>
      			</div>
      			<div class="box-body">
      				<table class="table table-striped">
      					<tbody id="cashoutAccount">
      						<tr>
      							<td>收款人</td>
      							<td th:text="${tenant.cashoutAccount.name}">黄老邪</td>
      						</tr>
      						<tr>
      							<td>银行账号</td>
      							<td th:text="${tenant.cashoutAccount.cardNo}">6226 **** **** 7222</td>
      						</tr>
      						<tr>
      							<td>银行信息</td>
      							<td th:text="${tenant.cashoutAccount.bankName}">中国银行 济宁市任城区分行</td>
      						</tr>
      					</tbody>
      				</table>
      			</div>
      		</div>
      	</div>
       	<div class="row">
      		<div class="box box-warning">
      			<div class="box-header with-border">
      				<h3 class="box-title">提款</h3>
      			</div>
      			<div class="box-body">
      				<form>
      					<div class="form-group">
      						<div class="input-group">
      							<input type="number" class="form-control" placeholder="输入提款金额">
      							<span class="input-group-btn">
      								<button type="submit" class="btn btn-success">提款</button>
      							</span>
      						</div>
      					</div>
      				</form>
      				<label><small>每月的1、2、16、17号为申请打款时间，15号、月尾日为打款时间，确保用户有半个月的追诉期。</small></label>
      			</div>
      		</div>
      	</div>
      	
       	<div class="row">
      		<div class="box box-info">
      			<div class="box-header with-border">
      				<h3 class="box-title">提款记录  <small id="recordcount"></small></h3>
      			</div>
      			<div class="box-body">
      				<table class="table table-striped">
      					<tbody id="recordlist">
      						<tr>
      							<th style="width:25%;">日期</th>
      							<th style="width:20%;">金额</th>
      							<th>备注</th>
      						</tr>
      					</tbody>
      				</table>
      			</div>
      			<div class="box-footer text-center">
      				<a id="querymore" href="#">查询更多</a>
      			</div>
      		</div>
      	</div>
      	<div class="modal fade" id="modifypayee">
      		<div class="modal-dialog">
      			<div class="modal-content">
      				<div class="modal-header">
      					<h4 class="modal-title">修改提款账户</h4>
      				</div>
      				<form id="newcashout">
	      				<div class="modal-body">
	      					<div class="form-group">
	      						<label>收款人</label>
	      						<input name="name" type="text" class="form-control" th:value="${tenant.cashoutAccount.name}">
	      					</div>
	      					<div class="form-group">
	      						<label>银行账号</label>
	      						<input name="cardNo" type="number" class="form-control" th:value="${tenant.cashoutAccount.cardNo}">
	      					</div>
	      					<div class="form-group">
	      						<label>开户行</label>
	      						<input name="bankName" type="text" class="form-control" th:value="${tenant.cashoutAccount.bankName}">
	      					</div>
	      					<div class="hide form-group">
	      						<label>版本号</label>
	      						<input id="tenantversion" name="version" type="number" th:value="${tenant.version}" class="form-control">
	      					</div>
	      				</div>
	      				<div class="modal-footer">
	      					<button type="button" class="btn btn-default btn-flat" data-dismiss="modal">取消</button>
	      					<button type="button" id="updatecashout" class="btn btn-success btn-flat " data-dismiss="modal">提交</button>
	      				</div>
      				</form>
      			</div>
      		</div>
      	</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="footer::footer">
  </footer>


</div>
<!-- ./wrapper -->

<div th:include="header::jsfragment"></div>
<script type="text/javascript">
	$(function () {
		var sum = 0;
		
		function create_item(record) {
			if (record.direction == 0) {
				var time = record.time;
				var cash_time = time.getFullYear() + "/" + (time.getMonth() + 1) + "/" + time.getDate() + " " + time.getHours() + ":" + time.getMinutes() + ":" + time.getSeconds();
				var tr = $("<tr></tr>");
				var date_td = $("<td>" + cash_time + "</td>");
				var cash_td = $("<td>" + record.sum + "</td>")
				var mark_td = $("<td>" + record.remark + "</td>")
				tr.append(date_td);
				tr.append(cash_td);
				tr.append(mark_td);
				return tr;
			}
		}
		
		function getRecords(start, size) {
			$.get("/tenant/cashout/record/" + start.toString() + "/" + size.toString(), {},
				function(data) {
					if (data.returnState == "OK") {
						var records = data.returnData.records;
						var count = data.returnData.count;
						for (var i = 0; i < records.length; i++) {
							sum += 1;
							var item = create_time(records[i]);
							$("#recordlist").append(item);
						}
						if (sum >= count) {
							$("#querymore").hide();
						} else {
							$("#querymore").show();
						}
						$("recordcount").text(sum + "条记录")
					} else {
						$("#errormsg").text(data.returnMsg);
					}
				}		
			);
		}
		
		getRecords(0, 15);
		$("#querymore").on("click", function () {
			getRecords(sum, 15);
		});
		$("#updatecashout").on("click", function() {
			$.post("/tenant/cashout/account", $("#newcashout").serialize(),
				function (data) {
					if (data.returnState == "OK") {
						var account = data.returnData.account;
						$("#cashoutAccount").children("tr:eq(0)").children("td:eq(1)").text(account.name);
						$("#cashoutAccount").children("tr:eq(1)").children("td:eq(1)").text(account.cardNo);
						$("#cashoutAccount").children("tr:eq(2)").children("td:eq(1)").text(account.bankName);
						$("#tenantversion").val(data.returnData.version);
					} else {
						$("#errormsg").text(data.returnMsg);
					}
				}
			);
		});
	});
</script>
</body>
</html>
