<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="header::cssfragment">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header th:replace="header::mainheader(${notifications}, ${tasks}, ${carets}, ${userWrapper.getUser()})" class="main-header">
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="header::mainsider(${userWrapper})" class="main-sidebar">
  </aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        订购
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">订购</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<p style="color:red" id="errormsg" th:text="(${error} != null) ? ${error} : ''"></p>
    	</div>
      	<div class="row" th:if="${functions} != null" th:each="function : ${functions}">
      		<div class="box box-warning">
      			<div class="box-header with-border">
      				<h3 class="box-title" th:text="${function.nickName}">基本功能包</h3>
      			</div>
      			<div class="box-body">
      				<table class="table table-striped">
      					<tbody th:name="${function.name}" th:with="func_name=${function.name}">
      						<tr>
      							<td style="width:30%;">套餐描述</td>
      							<td th:text="${function.introduction}">包含订单、员工、库存基本功能和1000条短信</td>
      						</tr>
      						<tr>
      							<td>单价</td>
      							<td th:text="${function.makePrice()}">￥500</td>
      						</tr>
      						<tr th:if="${function.isDateType()}">
      							<td>到期时间</td>
      							<td>
      								<span style="color:red;" th:text="${tenant.getEndTimeStr(func_name)}">2019/10/21</span>
      							</td>
      						</tr>
      						<tr>
      							<td>状态</td>
      							<td th:text="${tenant.getStatus(func_name)}">正常运行</td>
      						</tr>
      					</tbody>
      				</table>
      			</div>
      			<div class="box-footer">
      				<form th:if="${function.isSubscribeable()}">
      					<div class="form-group hide">
      						<label>功能包类型</label>
      						<input type="number" class="form-control" name="type" th:value="${function.type}">
      					</div>
      					<div class="form-group hide">
      						<label>功能包</label>
      						<input type="text" class="form-control" name="name" th:value="${function.name}">
      					</div>
	      				<div class="input-group pull-right">
	      					<input type="number" name="count" min="1" class="form-control">
	      					<span class="input-group-addon" style="border-left:0;background-color:#EEE" th:text="'x ' + ${function.getUnitStr()}">月</span>
	      					<span class="input-group-btn"><button class="btn btn-flat btn-success" type="button" name="submitbtn">购买</button></span>
	      				</div>
      				</form>
      			</div>
      		</div>
      	</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="footer::footer">
  </footer>

</div>
<!-- ./wrapper -->

<div th:include="header::jsfragment"></div>
<script type="text/javascript">
	$(function() {
		$("[name='submitbtn']").on("click", function(event) {
			var btn = $(event.target);
			var form = btn.closest("form");
			$.post("/tenant/placeorder", form.serialize(),
				function(data) {
					if (data.returnState == "OK") {
						var name = data.returnData.pack.name;
						var type = data.returnData.pack.type;
						var status = data.returnData.pack.status;
						var table = $("[name='" + name + "']")
						if (type == 0) {
							var endTime = data.returnData.pack.endTime;
							var span = $("<span style='color:red;'></span>")
							span.text(endTime);
							table.children("tr:eq(2)").children("td:eq(1)").empty();
							table.children("tr:eq(2)").children("td:eq(1)").append(span);
							table.children("tr:eq(3)").children("td:eq(1)").text(status);
						} else {
							table.children("tr:eq(2)").children("td:eq(1)").text(status);
						}
					} else {
						$("#errormsg").text(data.returnMsg);
					}
				}		
			);
		});
	});
</script>
</body>
</html>
