<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="header::cssfragment">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header th:replace="header::mainheader(${notifications}, ${tasks}, ${carets}, ${userWrapper.getUser()})" class="main-header">
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="header::mainsider(${userWrapper})" class="main-sidebar">
  </aside>
 
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        用户信息
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/index"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">用户信息</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<p id="errormsg" th:if="(${error} != null) ? ${error} : ''"></p>
    	</div>
		<div th:if="${userInfo} != null" class="row" id="info_box">
			<div class="box box-widget widget-user-2">
				<div class="widget-user-header bg-yellow">
					<div class="widget-user-image">
						<img th:name="picture" th:src="(${userInfo.picture} == null) ? '/dist/img/user2-160x160.jpg' : @{userInfo.picture}" class="img-circle" alt="User Avatar">
					</div>
					<h3 class="widget-user-username" th:text="${userInfo.name}">邓超</h3>
					<h5 class="widget-user-desc" th:text="${userInfo.position}">销售部-前台</h5>
				</div>
				<div class="box-body no-padding">
					<div>
						<p id="errormsg" th:text="(${error} != null) ? ${error} : ''"></p>
					</div>
					<table class="table table-striped">
						<tbody>
							<tr th:if="${limit['user']['phone']}">
								<td>联系电话</td>
								<td th:text="${userInfo.phone}">19991202478</td>
							</tr>
							<tr th:if="${limit['user']['address']}">
								<td>住址</td>
								<td th:text="${userInfo.address}">济宁市太白路99号</td>
							</tr>
							<tr th:if="${limit['user']['sex']}">
								<td>性别</td>
								<td th:text="(${userInfo.sex} == 0) ? '男':'女'">男</td>
							</tr>
							<tr th:if="${limit['user']['birthday']}">
								<td>生日</td>
								<td th:with="birthday=${userInfo.birthday}" th:text="${#calendars.format(birthday, 'yyyy/MM/dd')}">1999-2-10</td>
							</tr>
							<tr th:if="${limit['user']['createTime']}">
								<td>入职日期</td>
								<td th:with="createTime=${userInfo.createTime}" th:text="${#calendars.format(createTime, 'yyyy/MM/dd')}">2019-4-21</td>
							</tr>
							<tr th:if="${limit['user']['salary']}">
								<td>薪资</td>
								<td th:text="${userInfo.salary} + '元/月'">1999</td>
							</tr>
							<tr th:if="${limit['user']['roles']}">
								<td>权限</td>
								<td>
									<span class="label label-info" th:each="role : ${userInfo.roles}" th:text="${userInfo.getRoleStr(role)}">&nbsp;</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="box-footer">
					<a th:if="${userWrapper.hasRight('user', 'delete')} and (${userInfo.username} != ${userWrapper.user.username})" href="#deleteuser" class="btn btn-default btn-flat" data-toggle="modal" id="deleteuserbutton">删除</a>
					<a th:href="'/user_edit/' + ${userInfo.username}" class="btn btn-success btn-flat pull-right" id="show_modify_box">修改</a>
				</div>
			</div>
		</div>
		<div th:if="${userInfo} != null">
			<div th:if="${userWrapper.hasRight('user', 'delete')} and (${userInfo.username} != ${userWrapper.user.username})" class="modal fade" id="deleteuser">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">删除用户</h4>
						</div>
						<div class="modal-body">
							<p>删除用户后无法恢复，请确定您要删除此用户？</p>
						</div>
						<div class="modal-footer">
							<button data-dismiss="modal" class="btn btn-default btn-flat">取消</button>
							<button data-dismiss="modal" class="btn btn-success btn-flat" id="delete_user">确定</button>
						</div>
					</div>
				</div>
			</div>
		</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="footer::footer">
  </footer>

</div>
<!-- ./wrapper -->

<div th:include="header::jsfragment"></div>
<script th:inline="javascript" type="text/javascript">
	$(function() {
		$("#delete_user").click(function(){
			$.get("/user_delete/" + [[${userInfo.username}]], {
			}, function(data) {
				if (data.returnState == "OK") {
					if (document.referrer == "" || document.referrer.search("/login") != -1) {
						window.location = "/index"
					} else {
						javascript :history.back(-1);
					}
				} else {
					$("#errormsg").text(data.returnMsg);
				}
			});
		});
	});
</script>
</body>
</html>
