<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="header::cssfragment">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header th:replace="header::mainheader(${notifications}, ${tasks}, ${carets}, ${userWrapper.getUser()})" class="main-header">
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="header::mainsider(${userWrapper})" class="main-sidebar">
  </aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        新增员工
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li>员工</li>
        <li class="active">新增员工</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      	<div class="row">
      		<div class="box box-warning">
      			<div class="box-header with-border">
      				<h3 class="box-title">员工信息  <small style="color:red" th:if="${error} != null" th:text="${error}"></small></h3>
      			</div>
      			<form id="userform">
      				<div class="box-body">
      				    <div class="form-group">
      						<label>用户名</label>
      						<input type="text" th:name="username" class="form-control">
      					</div>
      					<div class="form-group">
      						<label>姓名</label>
      						<input type="text" th:name="name" class="form-control">
      					</div>
      					<div class="form-group">
      						<label>电话</label>
      						<input type="number" th:name="phone" class="form-control">
      					</div>
      					<div class="form-group">
      						<label style="display:block;">性别</label>
      						<label class="radio-inline">
      							<input type="radio" th:name="sex" th:value="0" id="radioMan" checked> 男
      						</label>
      						<label class="radio-inline">
      							<input type="radio" th:name="sex" th:value="1" id="radioWoman"> 女
      						</label>
      					</div>
      					<div class="form-group">
      						<label>生日</label>
      						<input type="date" th:name="birthday" class="form-control">
      					</div>
      					<div class="form-group">
      						<label>住址</label>
      						<input type="text" th:name="address" class="form-control">
      					</div>
      					<div class="form-group">
      						<label style="display:block;">权限  </label>
     						<label class="checkbox-inline">
      							<input type="checkbox" th:name="roles" value="ROLE_TENANT_SELLER">导购
      						</label>
      						<label class="checkbox-inline">
      							<input type="checkbox" th:name="roles" value="ROLE_TENANT_AUDIT">订单审核
      						</label>
      						<label class="checkbox-inline">
      							<input type="checkbox" th:name="roles" value="ROLE_TENANT_WHMANAGER">库存管理
      						</label>
      						<label class="checkbox-inline">
      							<input type="checkbox" th:name="roles" value="ROLE_TENANT_DELIVERY">送货员
      						</label>
      						<label class="checkbox-inline">
      							<input type="checkbox" th:name="roles" value="ROLE_TENANT_INSTALLER">装配工
      						</label>
      						<label class="checkbox-inline">
      							<input type="checkbox" th:name="roles" value="ROLE_TENANT_AFTERSALE_ORDER">售后接单
      						</label>
      						<label class="checkbox-inline">
      							<input type="checkbox" th:name="roles" value="ROLE_TENANT_AFTERSALE_SERVICE">售后服务
      						</label>
      						<label class="checkbox-inline">
      							<input type="checkbox" th:name="roles" value="ROLE_TENANT_AFTERSALE_MANAGE">售后管理
      						</label>
      					</div>
      					<div class="form-group">
      						<label>薪资</label>
      						<input type="number" th:name="salary" class="form-control">
      					</div>
      					<div class="form-group">
      						<label>职位</label>
      						<input type="text" th:name="position" class="form-control">
      					</div>
	      			</div>
	      			<div class="box-footer">
	      				<button type="button" id="submitform" class="btn btn-success btn-flat pull-right">提交</button>
	      			</div>
      			</form>
      		</div>
      	</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="footer::footer">
  </footer>

</div>
<!-- ./wrapper -->

<div th:include="header::jsfragment"></div>
<script type="text/javascript">
	$(function() {
		$("#submitform").on("click", function() {
			$.post("/user_create", $("#userform").serialize(), function(data) {
				if (data.returnState == "OK") {
					/* 创建成功，跳转到/user_info/username */
					window.location="/user_info/" +  data.returnData.username;
				} else {
					$("#errormsg").text(data.returnMsg);
				}
			});
		});
	});
</script>
</body>
</html>
